/* droid-sans-mono-400normal - latin */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./files/droid-sans-mono-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Droid Sans Mono Regular '), local('Droid Sans Mono-Regular'),
       url('./files/droid-sans-mono-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/droid-sans-mono-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/droid-sans-mono-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/droid-sans-mono-latin-400.svg#Droid Sans Mono') format('svg'); /* Legacy iOS */
}
