/* trochut-400normal - latin */
@font-face {
  font-family: 'Trochut';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Trochut Regular '),
    local('Trochut-Regular'),
    url('./files/trochut-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/trochut-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* trochut-400italic - latin */
@font-face {
  font-family: 'Trochut';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Trochut Regular italic'),
    local('Trochut-Regularitalic'),
    url('./files/trochut-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/trochut-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* trochut-700normal - latin */
@font-face {
  font-family: 'Trochut';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Trochut Bold '),
    local('Trochut-Bold'),
    url('./files/trochut-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/trochut-latin-700.woff') format('woff'), /* Modern Browsers */
}

