/* kdam-thmor-400normal - latin */
@font-face {
  font-family: 'Kdam Thmor';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kdam Thmor Regular '),
    local('Kdam Thmor-Regular'),
    url('./files/kdam-thmor-khmer-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kdam-thmor-khmer-400.woff') format('woff'); /* Modern Browsers */
}

