/* ubuntu-condensed-400normal - latin */
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Condensed Regular '),
    local('Ubuntu Condensed-Regular'),
    url('./files/ubuntu-condensed-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ubuntu-condensed-latin-400.woff') format('woff'), /* Modern Browsers */
}

