/* do-hyeon-400normal - latin */
@font-face {
  font-family: 'Do Hyeon';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Do Hyeon Regular '),
    local('Do Hyeon-Regular'),
    url('./files/do-hyeon-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/do-hyeon-latin-400.woff') format('woff'); /* Modern Browsers */
}

