/* ibm-plex-sans-condensed-100normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('IBM Plex Sans Condensed Thin '),
    local('IBM Plex Sans Condensed-Thin'),
    url('./files/ibm-plex-sans-condensed-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-100italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('IBM Plex Sans Condensed Thin italic'),
    local('IBM Plex Sans Condensed-Thinitalic'),
    url('./files/ibm-plex-sans-condensed-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-100italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-200normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('IBM Plex Sans Condensed Extra Light '),
    local('IBM Plex Sans Condensed-Extra Light'),
    url('./files/ibm-plex-sans-condensed-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-200italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('IBM Plex Sans Condensed Extra Light italic'),
    local('IBM Plex Sans Condensed-Extra Lightitalic'),
    url('./files/ibm-plex-sans-condensed-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-300normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('IBM Plex Sans Condensed Light '),
    local('IBM Plex Sans Condensed-Light'),
    url('./files/ibm-plex-sans-condensed-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-300italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('IBM Plex Sans Condensed Light italic'),
    local('IBM Plex Sans Condensed-Lightitalic'),
    url('./files/ibm-plex-sans-condensed-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-400normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IBM Plex Sans Condensed Regular '),
    local('IBM Plex Sans Condensed-Regular'),
    url('./files/ibm-plex-sans-condensed-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-400italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('IBM Plex Sans Condensed Regular italic'),
    local('IBM Plex Sans Condensed-Regularitalic'),
    url('./files/ibm-plex-sans-condensed-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-500normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('IBM Plex Sans Condensed Medium '),
    local('IBM Plex Sans Condensed-Medium'),
    url('./files/ibm-plex-sans-condensed-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-500italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('IBM Plex Sans Condensed Medium italic'),
    local('IBM Plex Sans Condensed-Mediumitalic'),
    url('./files/ibm-plex-sans-condensed-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-600normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('IBM Plex Sans Condensed SemiBold '),
    local('IBM Plex Sans Condensed-SemiBold'),
    url('./files/ibm-plex-sans-condensed-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-600italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('IBM Plex Sans Condensed SemiBold italic'),
    local('IBM Plex Sans Condensed-SemiBolditalic'),
    url('./files/ibm-plex-sans-condensed-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-700normal - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('IBM Plex Sans Condensed Bold '),
    local('IBM Plex Sans Condensed-Bold'),
    url('./files/ibm-plex-sans-condensed-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-condensed-700italic - latin */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('IBM Plex Sans Condensed Bold italic'),
    local('IBM Plex Sans Condensed-Bolditalic'),
    url('./files/ibm-plex-sans-condensed-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-sans-condensed-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

