/* dawning-of-a-new-day-400normal - latin */
@font-face {
  font-family: 'Dawning of a New Day';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Dawning of a New Day Regular '),
    local('Dawning of a New Day-Regular'),
    url('./files/dawning-of-a-new-day-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/dawning-of-a-new-day-latin-400.woff') format('woff'); /* Modern Browsers */
}

