/* knewave-400normal - latin */
@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Knewave Regular '),
    local('Knewave-Regular'),
    url('./files/knewave-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/knewave-latin-400.woff') format('woff'); /* Modern Browsers */
}

