/* marcellus-sc-400normal - latin */
@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Marcellus SC Regular '),
    local('Marcellus SC-Regular'),
    url('./files/marcellus-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/marcellus-sc-latin-400.woff') format('woff'); /* Modern Browsers */
}

