/* inknut-antiqua-300normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('./files/inknut-antiqua-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua Light '),
    local('Inknut Antiqua-Light'),
    url('./files/inknut-antiqua-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-300.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}

/* inknut-antiqua-400normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/inknut-antiqua-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua Regular '),
    local('Inknut Antiqua-Regular'),
    url('./files/inknut-antiqua-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-400.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}

/* inknut-antiqua-500normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./files/inknut-antiqua-latin-500.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua Medium '),
    local('Inknut Antiqua-Medium'),
    url('./files/inknut-antiqua-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-500.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-500.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}

/* inknut-antiqua-600normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./files/inknut-antiqua-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua SemiBold '),
    local('Inknut Antiqua-SemiBold'),
    url('./files/inknut-antiqua-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-600.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}

/* inknut-antiqua-700normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/inknut-antiqua-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua Bold '),
    local('Inknut Antiqua-Bold'),
    url('./files/inknut-antiqua-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-700.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}

/* inknut-antiqua-800normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('./files/inknut-antiqua-latin-800.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua ExtraBold '),
    local('Inknut Antiqua-ExtraBold'),
    url('./files/inknut-antiqua-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-800.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-800.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}

/* inknut-antiqua-900normal - latin */
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('./files/inknut-antiqua-latin-900.eot'); /* IE9 Compat Modes */
  src:
    local('Inknut Antiqua Black '),
    local('Inknut Antiqua-Black'),
    url('./files/inknut-antiqua-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/inknut-antiqua-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inknut-antiqua-latin-900.woff') format('woff'), /* Modern Browsers */
    url('./files/inknut-antiqua-latin-900.svg#InknutAntiqua') format('svg'); /* Legacy iOS */
}
