/* sunshiney-400normal - latin */
@font-face {
  font-family: 'Sunshiney';
  font-style: normal;
  font-weight: 400;
  src: url('./files/sunshiney-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Sunshiney Regular '),
    local('Sunshiney-Regular'),
    url('./files/sunshiney-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/sunshiney-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sunshiney-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/sunshiney-latin-400.svg#sunshiney') format('svg'); /* Legacy iOS */
}

