/* rokkitt-100normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Rokkitt Thin '),
    local('Rokkitt-Thin'),
    url('./files/rokkitt-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-100.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-200normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Rokkitt Extra Light '),
    local('Rokkitt-Extra Light'),
    url('./files/rokkitt-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-300normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rokkitt Light '),
    local('Rokkitt-Light'),
    url('./files/rokkitt-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-400normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rokkitt Regular '),
    local('Rokkitt-Regular'),
    url('./files/rokkitt-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-500normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Rokkitt Medium '),
    local('Rokkitt-Medium'),
    url('./files/rokkitt-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-600normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Rokkitt SemiBold '),
    local('Rokkitt-SemiBold'),
    url('./files/rokkitt-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-700normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rokkitt Bold '),
    local('Rokkitt-Bold'),
    url('./files/rokkitt-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-800normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Rokkitt ExtraBold '),
    local('Rokkitt-ExtraBold'),
    url('./files/rokkitt-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* rokkitt-900normal - latin */
@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Rokkitt Black '),
    local('Rokkitt-Black'),
    url('./files/rokkitt-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rokkitt-latin-900.woff') format('woff'), /* Modern Browsers */
}

