/* source-serif-pro-300normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Source Serif Pro Light normal'),
    local('Source Serif Pro-Lightnormal'),
    url('./files/source-serif-pro-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-300.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-300italic - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Source Serif Pro Light italic'),
    local('Source Serif Pro-Lightitalic'),
    url('./files/source-serif-pro-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-300italic.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-400normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Serif Pro Regular normal'),
    local('Source Serif Pro-Regularnormal'),
    url('./files/source-serif-pro-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-400.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-400italic - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Source Serif Pro Regular italic'),
    local('Source Serif Pro-Regularitalic'),
    url('./files/source-serif-pro-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-400italic.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-600normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Source Serif Pro SemiBold normal'),
    local('Source Serif Pro-SemiBoldnormal'),
    url('./files/source-serif-pro-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-600.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-600italic - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Source Serif Pro SemiBold italic'),
    local('Source Serif Pro-SemiBolditalic'),
    url('./files/source-serif-pro-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-600italic.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-700normal - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif Pro Bold normal'),
    local('Source Serif Pro-Boldnormal'),
    url('./files/source-serif-pro-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-700.woff') format('woff'); /* Modern Browsers */
}

/* source-serif-pro-700italic - latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Source Serif Pro Bold italic'),
    local('Source Serif Pro-Bolditalic'),
    url('./files/source-serif-pro-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/source-serif-pro-700italic.woff') format('woff'); /* Modern Browsers */
}

