/* almendra-sc-400normal - latin */
@font-face {
  font-family: 'Almendra SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Almendra SC Regular '),
    local('Almendra SC-Regular'),
    url('./files/almendra-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/almendra-sc-latin-400.woff') format('woff'); /* Modern Browsers */
}

