/* baloo-chettan-400normal - latin */
@font-face {
  font-family: 'Baloo Chettan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Baloo Chettan Regular '),
    local('Baloo Chettan-Regular'),
    url('./files/baloo-chettan-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/baloo-chettan-latin-400.woff') format('woff'); /* Modern Browsers */
}

