/* uncial-antiqua-400normal - latin */
@font-face {
  font-family: 'Uncial Antiqua';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Uncial Antiqua Regular '),
    local('Uncial Antiqua-Regular'),
    url('./files/uncial-antiqua-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/uncial-antiqua-latin-400.woff') format('woff'); /* Modern Browsers */
}

