/* capriola-400normal - latin */
@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Capriola Regular '),
    local('Capriola-Regular'),
    url('./files/capriola-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/capriola-latin-400.woff') format('woff'), /* Modern Browsers */
}

