/* maven-pro-500normal - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url('./files/maven-pro-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Maven Pro Medium '), local('Maven Pro-Medium'),
       url('./files/maven-pro-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/maven-pro-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/maven-pro-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/maven-pro-latin-500.svg#Maven Pro') format('svg'); /* Legacy iOS */
}
/* maven-pro-400normal - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./files/maven-pro-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Maven Pro Regular '), local('Maven Pro-Regular'),
       url('./files/maven-pro-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/maven-pro-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/maven-pro-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/maven-pro-latin-400.svg#Maven Pro') format('svg'); /* Legacy iOS */
}
/* maven-pro-900normal - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 900;
  src: url('./files/maven-pro-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Maven Pro Black '), local('Maven Pro-Black'),
       url('./files/maven-pro-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/maven-pro-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/maven-pro-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./files/maven-pro-latin-900.svg#Maven Pro') format('svg'); /* Legacy iOS */
}
/* maven-pro-700normal - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./files/maven-pro-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Maven Pro Bold '), local('Maven Pro-Bold'),
       url('./files/maven-pro-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/maven-pro-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/maven-pro-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/maven-pro-latin-700.svg#Maven Pro') format('svg'); /* Legacy iOS */
}
