/* philosopher-400normal - latin */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Philosopher Regular '),
    local('Philosopher-Regular'),
    url('./files/philosopher-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* philosopher-400italic - latin */
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Philosopher Regular italic'),
    local('Philosopher-Regularitalic'),
    url('./files/philosopher-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* philosopher-700normal - latin */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Philosopher Bold '),
    local('Philosopher-Bold'),
    url('./files/philosopher-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* philosopher-700italic - latin */
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Philosopher Bold italic'),
    local('Philosopher-Bolditalic'),
    url('./files/philosopher-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

