
/* unifrakturcook-700normal - latin */
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: url('./files/unifrakturcook-latin-700.eot'); /* IE9 Compat Modes */
  src: local('UnifrakturCook Bold '), local('UnifrakturCook-Bold'),
       url('./files/unifrakturcook-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/unifrakturcook-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/unifrakturcook-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/unifrakturcook-latin-700.svg#UnifrakturCook') format('svg'); /* Legacy iOS */
}
    