/* angkor-400normal - latin */
@font-face {
  font-family: 'Angkor';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Angkor Regular '),
    local('Angkor-Regular'),
    url('./files/angkor-khmer-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/angkor-khmer-400.woff') format('woff'), /* Modern Browsers */
}

