/* share-400normal - latin */
@font-face {
  font-family: 'Share';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Share Regular '),
    local('Share-Regular'),
    url('./files/share-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/share-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* share-400italic - latin */
@font-face {
  font-family: 'Share';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Share Regular italic'),
    local('Share-Regularitalic'),
    url('./files/share-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/share-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* share-700normal - latin */
@font-face {
  font-family: 'Share';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Share Bold '),
    local('Share-Bold'),
    url('./files/share-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/share-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* share-700italic - latin */
@font-face {
  font-family: 'Share';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Share Bold italic'),
    local('Share-Bolditalic'),
    url('./files/share-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/share-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

