/* khand-300normal - latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 300;
  src: url('./files/khand-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Khand Light '),
    local('Khand-Light'),
    url('./files/khand-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khand-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khand-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/khand-latin-300.svg#Khand') format('svg'); /* Legacy iOS */
}

/* khand-400normal - latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  src: url('./files/khand-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Khand Regular '),
    local('Khand-Regular'),
    url('./files/khand-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khand-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khand-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/khand-latin-400.svg#Khand') format('svg'); /* Legacy iOS */
}

/* khand-500normal - latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 500;
  src: url('./files/khand-latin-500.eot'); /* IE9 Compat Modes */
  src:
    local('Khand Medium '),
    local('Khand-Medium'),
    url('./files/khand-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khand-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khand-latin-500.woff') format('woff'), /* Modern Browsers */
    url('./files/khand-latin-500.svg#Khand') format('svg'); /* Legacy iOS */
}

/* khand-600normal - latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 600;
  src: url('./files/khand-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Khand SemiBold '),
    local('Khand-SemiBold'),
    url('./files/khand-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khand-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khand-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./files/khand-latin-600.svg#Khand') format('svg'); /* Legacy iOS */
}

/* khand-700normal - latin */
@font-face {
  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  src: url('./files/khand-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Khand Bold '),
    local('Khand-Bold'),
    url('./files/khand-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khand-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khand-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/khand-latin-700.svg#Khand') format('svg'); /* Legacy iOS */
}

