/* jolly-lodger-400normal - latin */
@font-face {
  font-family: 'Jolly Lodger';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Jolly Lodger Regular '),
    local('Jolly Lodger-Regular'),
    url('./files/jolly-lodger-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jolly-lodger-latin-400.woff') format('woff'), /* Modern Browsers */
}

