/* poppins-300normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Poppins Light '),
    local('Poppins-Light'),
    url('./files/poppins-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poppins-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* poppins-400normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Poppins Regular '),
    local('Poppins-Regular'),
    url('./files/poppins-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poppins-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* poppins-500normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Poppins Medium '),
    local('Poppins-Medium'),
    url('./files/poppins-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poppins-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* poppins-600normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Poppins SemiBold '),
    local('Poppins-SemiBold'),
    url('./files/poppins-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poppins-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* poppins-700normal - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Poppins Bold '),
    local('Poppins-Bold'),
    url('./files/poppins-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poppins-latin-700.woff') format('woff'), /* Modern Browsers */
}

