{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
    "semi": [2, "never"],
    "no-extra-semi": [2],
  },
}
