/* montserrat-alternates-400normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: url('./files/montserrat-alternates-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Alternates Regular '), local('Montserrat Alternates-Regular'),
       url('./files/montserrat-alternates-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/montserrat-alternates-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/montserrat-alternates-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/montserrat-alternates-latin-400.svg#Montserrat Alternates') format('svg'); /* Legacy iOS */
}
/* montserrat-alternates-700normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: url('./files/montserrat-alternates-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Alternates Bold '), local('Montserrat Alternates-Bold'),
       url('./files/montserrat-alternates-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/montserrat-alternates-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/montserrat-alternates-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/montserrat-alternates-latin-700.svg#Montserrat Alternates') format('svg'); /* Legacy iOS */
}
