/* montserrat-alternates-100normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Montserrat Alternates Thin '),
    local('Montserrat Alternates-Thin'),
    url('./files/montserrat-alternates-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-100italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Montserrat Alternates Thin italic'),
    local('Montserrat Alternates-Thinitalic'),
    url('./files/montserrat-alternates-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-100italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-200normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Montserrat Alternates Extra Light '),
    local('Montserrat Alternates-Extra Light'),
    url('./files/montserrat-alternates-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-200italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Montserrat Alternates Extra Light italic'),
    local('Montserrat Alternates-Extra Lightitalic'),
    url('./files/montserrat-alternates-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-300normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Montserrat Alternates Light '),
    local('Montserrat Alternates-Light'),
    url('./files/montserrat-alternates-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-300italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Montserrat Alternates Light italic'),
    local('Montserrat Alternates-Lightitalic'),
    url('./files/montserrat-alternates-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-400normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat Alternates Regular '),
    local('Montserrat Alternates-Regular'),
    url('./files/montserrat-alternates-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-400italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Montserrat Alternates Regular italic'),
    local('Montserrat Alternates-Regularitalic'),
    url('./files/montserrat-alternates-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-500normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Montserrat Alternates Medium '),
    local('Montserrat Alternates-Medium'),
    url('./files/montserrat-alternates-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-500italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Montserrat Alternates Medium italic'),
    local('Montserrat Alternates-Mediumitalic'),
    url('./files/montserrat-alternates-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-600normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Montserrat Alternates SemiBold '),
    local('Montserrat Alternates-SemiBold'),
    url('./files/montserrat-alternates-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-600italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Montserrat Alternates SemiBold italic'),
    local('Montserrat Alternates-SemiBolditalic'),
    url('./files/montserrat-alternates-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-700normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat Alternates Bold '),
    local('Montserrat Alternates-Bold'),
    url('./files/montserrat-alternates-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-700italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Montserrat Alternates Bold italic'),
    local('Montserrat Alternates-Bolditalic'),
    url('./files/montserrat-alternates-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-800normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Montserrat Alternates ExtraBold '),
    local('Montserrat Alternates-ExtraBold'),
    url('./files/montserrat-alternates-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-800italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Montserrat Alternates ExtraBold italic'),
    local('Montserrat Alternates-ExtraBolditalic'),
    url('./files/montserrat-alternates-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-900normal - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Montserrat Alternates Black '),
    local('Montserrat Alternates-Black'),
    url('./files/montserrat-alternates-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-alternates-900italic - latin */
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Montserrat Alternates Black italic'),
    local('Montserrat Alternates-Blackitalic'),
    url('./files/montserrat-alternates-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/montserrat-alternates-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

