/* varela-round-400normal - latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Varela Round Regular '),
    local('Varela Round-Regular'),
    url('./files/varela-round-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/varela-round-latin-400.woff') format('woff'); /* Modern Browsers */
}

