/* fira-sans-extra-condensed-100normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin '),
    local('Fira Sans Extra Condensed-Thin'),
    url('./files/fira-sans-extra-condensed-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-100.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-100italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin italic'),
    local('Fira Sans Extra Condensed-Thinitalic'),
    url('./files/fira-sans-extra-condensed-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-100italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-200normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed Extra Light '),
    local('Fira Sans Extra Condensed-Extra Light'),
    url('./files/fira-sans-extra-condensed-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-200italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed Extra Light italic'),
    local('Fira Sans Extra Condensed-Extra Lightitalic'),
    url('./files/fira-sans-extra-condensed-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-200italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-300normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light '),
    local('Fira Sans Extra Condensed-Light'),
    url('./files/fira-sans-extra-condensed-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-300italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light italic'),
    local('Fira Sans Extra Condensed-Lightitalic'),
    url('./files/fira-sans-extra-condensed-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-300italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-400normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Regular '),
    local('Fira Sans Extra Condensed-Regular'),
    url('./files/fira-sans-extra-condensed-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-400italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Regular italic'),
    local('Fira Sans Extra Condensed-Regularitalic'),
    url('./files/fira-sans-extra-condensed-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-500normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium '),
    local('Fira Sans Extra Condensed-Medium'),
    url('./files/fira-sans-extra-condensed-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-500italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium italic'),
    local('Fira Sans Extra Condensed-Mediumitalic'),
    url('./files/fira-sans-extra-condensed-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-500italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-600normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold '),
    local('Fira Sans Extra Condensed-SemiBold'),
    url('./files/fira-sans-extra-condensed-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-600italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold italic'),
    local('Fira Sans Extra Condensed-SemiBolditalic'),
    url('./files/fira-sans-extra-condensed-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-600italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-700normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold '),
    local('Fira Sans Extra Condensed-Bold'),
    url('./files/fira-sans-extra-condensed-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-700italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold italic'),
    local('Fira Sans Extra Condensed-Bolditalic'),
    url('./files/fira-sans-extra-condensed-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-800normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold '),
    local('Fira Sans Extra Condensed-ExtraBold'),
    url('./files/fira-sans-extra-condensed-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-800italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold italic'),
    local('Fira Sans Extra Condensed-ExtraBolditalic'),
    url('./files/fira-sans-extra-condensed-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-800italic.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-900normal - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black '),
    local('Fira Sans Extra Condensed-Black'),
    url('./files/fira-sans-extra-condensed-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-900.woff') format('woff'), /* Modern Browsers */
}

/* fira-sans-extra-condensed-900italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black italic'),
    local('Fira Sans Extra Condensed-Blackitalic'),
    url('./files/fira-sans-extra-condensed-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-latin-900italic.woff') format('woff'), /* Modern Browsers */
}

