/* allerta-400normal - latin */
@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Allerta Regular '),
    local('Allerta-Regular'),
    url('./files/allerta-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/allerta-latin-400.woff') format('woff'), /* Modern Browsers */
}

