/* halant-300normal - latin */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 300;
  src: url('./files/halant-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Halant Light '),
    local('Halant-Light'),
    url('./files/halant-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/halant-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/halant-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/halant-latin-300.svg#halant') format('svg'); /* Legacy iOS */
}

/* halant-400normal - latin */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 400;
  src: url('./files/halant-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Halant Regular '),
    local('Halant-Regular'),
    url('./files/halant-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/halant-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/halant-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/halant-latin-400.svg#halant') format('svg'); /* Legacy iOS */
}

/* halant-500normal - latin */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 500;
  src: url('./files/halant-latin-500.eot'); /* IE9 Compat Modes */
  src:
    local('Halant Medium '),
    local('Halant-Medium'),
    url('./files/halant-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/halant-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/halant-latin-500.woff') format('woff'), /* Modern Browsers */
    url('./files/halant-latin-500.svg#halant') format('svg'); /* Legacy iOS */
}

/* halant-600normal - latin */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 600;
  src: url('./files/halant-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Halant SemiBold '),
    local('Halant-SemiBold'),
    url('./files/halant-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/halant-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/halant-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./files/halant-latin-600.svg#halant') format('svg'); /* Legacy iOS */
}

/* halant-700normal - latin */
@font-face {
  font-family: 'Halant';
  font-style: normal;
  font-weight: 700;
  src: url('./files/halant-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Halant Bold '),
    local('Halant-Bold'),
    url('./files/halant-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/halant-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/halant-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/halant-latin-700.svg#halant') format('svg'); /* Legacy iOS */
}

