/* taviraj-100normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Taviraj Thin '),
    local('Taviraj-Thin'),
    url('./files/taviraj-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-100.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-100italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Taviraj Thin italic'),
    local('Taviraj-Thinitalic'),
    url('./files/taviraj-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-100italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-200normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Taviraj Extra Light '),
    local('Taviraj-Extra Light'),
    url('./files/taviraj-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-200italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Taviraj Extra Light italic'),
    local('Taviraj-Extra Lightitalic'),
    url('./files/taviraj-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-200italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-300normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Taviraj Light '),
    local('Taviraj-Light'),
    url('./files/taviraj-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-300italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Taviraj Light italic'),
    local('Taviraj-Lightitalic'),
    url('./files/taviraj-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-300italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-400normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Taviraj Regular '),
    local('Taviraj-Regular'),
    url('./files/taviraj-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-400italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Taviraj Regular italic'),
    local('Taviraj-Regularitalic'),
    url('./files/taviraj-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-500normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Taviraj Medium '),
    local('Taviraj-Medium'),
    url('./files/taviraj-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-500italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Taviraj Medium italic'),
    local('Taviraj-Mediumitalic'),
    url('./files/taviraj-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-500italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-600normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Taviraj SemiBold '),
    local('Taviraj-SemiBold'),
    url('./files/taviraj-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-600italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Taviraj SemiBold italic'),
    local('Taviraj-SemiBolditalic'),
    url('./files/taviraj-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-600italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-700normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Taviraj Bold '),
    local('Taviraj-Bold'),
    url('./files/taviraj-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-700italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Taviraj Bold italic'),
    local('Taviraj-Bolditalic'),
    url('./files/taviraj-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-800normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Taviraj ExtraBold '),
    local('Taviraj-ExtraBold'),
    url('./files/taviraj-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-800italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Taviraj ExtraBold italic'),
    local('Taviraj-ExtraBolditalic'),
    url('./files/taviraj-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-800italic.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-900normal - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Taviraj Black '),
    local('Taviraj-Black'),
    url('./files/taviraj-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-900.woff') format('woff'), /* Modern Browsers */
}

/* taviraj-900italic - latin */
@font-face {
  font-family: 'Taviraj';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Taviraj Black italic'),
    local('Taviraj-Blackitalic'),
    url('./files/taviraj-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/taviraj-latin-900italic.woff') format('woff'), /* Modern Browsers */
}

