/* federant-400normal - latin */
@font-face {
  font-family: 'Federant';
  font-style: normal;
  font-weight: 400;
  src: url('./files/federant-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Federant Regular '), local('Federant-Regular'),
       url('./files/federant-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/federant-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/federant-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/federant-latin-400.svg#Federant') format('svg'); /* Legacy iOS */
}
