/* caveat-brush-400normal - latin */
@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Caveat Brush Regular '),
    local('Caveat Brush-Regular'),
    url('./files/caveat-brush-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/caveat-brush-latin-400.woff') format('woff'), /* Modern Browsers */
}

