/* crete-round-400normal - latin */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Crete Round Regular '),
    local('Crete Round-Regular'),
    url('./files/crete-round-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/crete-round-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* crete-round-400italic - latin */
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Crete Round Regular italic'),
    local('Crete Round-Regularitalic'),
    url('./files/crete-round-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/crete-round-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

