/* orbitron-400normal - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Orbitron Regular '),
    local('Orbitron-Regular'),
    url('./files/orbitron-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/orbitron-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* orbitron-500normal - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Orbitron Medium '),
    local('Orbitron-Medium'),
    url('./files/orbitron-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/orbitron-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* orbitron-700normal - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Orbitron Bold '),
    local('Orbitron-Bold'),
    url('./files/orbitron-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/orbitron-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* orbitron-900normal - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Orbitron Black '),
    local('Orbitron-Black'),
    url('./files/orbitron-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/orbitron-latin-900.woff') format('woff'), /* Modern Browsers */
}

