/* spectral-200normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Spectral Extra Light '),
    local('Spectral-Extra Light'),
    url('./files/spectral-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* spectral-200italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Spectral Extra Light italic'),
    local('Spectral-Extra Lightitalic'),
    url('./files/spectral-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* spectral-300normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Spectral Light '),
    local('Spectral-Light'),
    url('./files/spectral-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* spectral-300italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Spectral Light italic'),
    local('Spectral-Lightitalic'),
    url('./files/spectral-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* spectral-400normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Spectral Regular '),
    local('Spectral-Regular'),
    url('./files/spectral-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* spectral-400italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Spectral Regular italic'),
    local('Spectral-Regularitalic'),
    url('./files/spectral-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* spectral-500normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Spectral Medium '),
    local('Spectral-Medium'),
    url('./files/spectral-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* spectral-500italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Spectral Medium italic'),
    local('Spectral-Mediumitalic'),
    url('./files/spectral-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* spectral-600normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Spectral SemiBold '),
    local('Spectral-SemiBold'),
    url('./files/spectral-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* spectral-600italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Spectral SemiBold italic'),
    local('Spectral-SemiBolditalic'),
    url('./files/spectral-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* spectral-700normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Spectral Bold '),
    local('Spectral-Bold'),
    url('./files/spectral-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* spectral-700italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Spectral Bold italic'),
    local('Spectral-Bolditalic'),
    url('./files/spectral-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* spectral-800normal - latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Spectral ExtraBold '),
    local('Spectral-ExtraBold'),
    url('./files/spectral-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* spectral-800italic - latin */
@font-face {
  font-family: 'Spectral';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Spectral ExtraBold italic'),
    local('Spectral-ExtraBolditalic'),
    url('./files/spectral-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spectral-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

