/* walter-turncoat-400normal - latin */
@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Walter Turncoat Regular '),
    local('Walter Turncoat-Regular'),
    url('./files/walter-turncoat-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/walter-turncoat-latin-400.woff') format('woff'), /* Modern Browsers */
}

