/* irish-grover-400normal - latin */
@font-face {
  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  src: url('./files/irish-grover-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Irish Grover Regular '),
    local('Irish Grover-Regular'),
    url('./files/irish-grover-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/irish-grover-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/irish-grover-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/irish-grover-latin-400.svg#irish-grover') format('svg'); /* Legacy iOS */
}

