/* della-respira-400normal - latin */
@font-face {
  font-family: 'Della Respira';
  font-style: normal;
  font-weight: 400;
  src: url('./files/della-respira-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Della Respira Regular '), local('Della Respira-Regular'),
       url('./files/della-respira-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/della-respira-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/della-respira-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/della-respira-latin-400.svg#Della Respira') format('svg'); /* Legacy iOS */
}
