/* alegreya-400normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Regular '),
    local('Alegreya-Regular'),
    url('./files/alegreya-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/alegreya-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* alegreya-400italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Regular italic'),
    local('Alegreya-Regularitalic'),
    url('./files/alegreya-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/alegreya-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* alegreya-700normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Bold '),
    local('Alegreya-Bold'),
    url('./files/alegreya-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/alegreya-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* alegreya-700italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Bold italic'),
    local('Alegreya-Bolditalic'),
    url('./files/alegreya-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/alegreya-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* alegreya-900normal - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Black '),
    local('Alegreya-Black'),
    url('./files/alegreya-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/alegreya-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* alegreya-900italic - latin */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Black italic'),
    local('Alegreya-Blackitalic'),
    url('./files/alegreya-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/alegreya-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

