/* enriqueta-400normal - latin */
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Enriqueta Regular '),
    local('Enriqueta-Regular'),
    url('./files/enriqueta-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/enriqueta-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* enriqueta-700normal - latin */
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Enriqueta Bold '),
    local('Enriqueta-Bold'),
    url('./files/enriqueta-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/enriqueta-latin-700.woff') format('woff'), /* Modern Browsers */
}

