/* acme-400normal - latin */
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Acme Regular '),
    local('Acme-Regular'),
    url('./files/acme-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/acme-latin-400.woff') format('woff'), /* Modern Browsers */
}

