/* butterfly-kids-400normal - latin */
@font-face {
  font-family: 'Butterfly Kids';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Butterfly Kids Regular '),
    local('Butterfly Kids-Regular'),
    url('./files/butterfly-kids-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/butterfly-kids-latin-400.woff') format('woff'); /* Modern Browsers */
}

