
/* oswald-300normal - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('./files/oswald-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Oswald Light '), local('Oswald-Light'),
       url('./files/oswald-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/oswald-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/oswald-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./files/oswald-latin-300.svg#Oswald') format('svg'); /* Legacy iOS */
}
    
/* oswald-400normal - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('./files/oswald-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular '), local('Oswald-Regular'),
       url('./files/oswald-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/oswald-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/oswald-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/oswald-latin-400.svg#Oswald') format('svg'); /* Legacy iOS */
}
    
/* oswald-700normal - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url('./files/oswald-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Oswald Bold '), local('Oswald-Bold'),
       url('./files/oswald-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/oswald-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/oswald-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/oswald-latin-700.svg#Oswald') format('svg'); /* Legacy iOS */
}
    