
/* ramabhadra-400normal - latin */
@font-face {
  font-family: 'Ramabhadra';
  font-style: normal;
  font-weight: 400;
  src: url('./files/ramabhadra-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Ramabhadra Regular '), local('Ramabhadra-Regular'),
       url('./files/ramabhadra-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/ramabhadra-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/ramabhadra-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/ramabhadra-latin-400.svg#Ramabhadra') format('svg'); /* Legacy iOS */
}
    