/* mr-de-haviland-400normal - latin */
@font-face {
  font-family: 'Mr De Haviland';
  font-style: normal;
  font-weight: 400;
  src: url('./files/mr-de-haviland-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Mr De Haviland Regular '), local('Mr De Haviland-Regular'),
       url('./files/mr-de-haviland-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/mr-de-haviland-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/mr-de-haviland-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/mr-de-haviland-latin-400.svg#Mr De Haviland') format('svg'); /* Legacy iOS */
}
