/* fasthand-400normal - latin */
@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fasthand Regular '),
    local('Fasthand-Regular'),
    url('./files/fasthand-khmer-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fasthand-khmer-400.woff') format('woff'); /* Modern Browsers */
}

