/* david-libre-400normal - latin */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('David Libre Regular '),
    local('David Libre-Regular'),
    url('./files/david-libre-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/david-libre-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* david-libre-500normal - latin */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('David Libre Medium '),
    local('David Libre-Medium'),
    url('./files/david-libre-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/david-libre-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* david-libre-700normal - latin */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('David Libre Bold '),
    local('David Libre-Bold'),
    url('./files/david-libre-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/david-libre-latin-700.woff') format('woff'), /* Modern Browsers */
}

