
/* david-libre-400normal - latin */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 400;
  src: url('./files/david-libre-latin-400.eot'); /* IE9 Compat Modes */
  src: local('David Libre Regular '), local('David Libre-Regular'),
       url('./files/david-libre-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/david-libre-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/david-libre-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/david-libre-latin-400.svg#David Libre') format('svg'); /* Legacy iOS */
}
    
/* david-libre-500normal - latin */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 500;
  src: url('./files/david-libre-latin-500.eot'); /* IE9 Compat Modes */
  src: local('David Libre Medium '), local('David Libre-Medium'),
       url('./files/david-libre-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/david-libre-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/david-libre-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/david-libre-latin-500.svg#David Libre') format('svg'); /* Legacy iOS */
}
    
/* david-libre-700normal - latin */
@font-face {
  font-family: 'David Libre';
  font-style: normal;
  font-weight: 700;
  src: url('./files/david-libre-latin-700.eot'); /* IE9 Compat Modes */
  src: local('David Libre Bold '), local('David Libre-Bold'),
       url('./files/david-libre-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/david-libre-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/david-libre-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/david-libre-latin-700.svg#David Libre') format('svg'); /* Legacy iOS */
}
    