
/* chelsea-market-400normal - latin */
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: url('./files/chelsea-market-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Chelsea Market Regular '), local('Chelsea Market-Regular'),
       url('./files/chelsea-market-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/chelsea-market-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/chelsea-market-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/chelsea-market-latin-400.svg#Chelsea Market') format('svg'); /* Legacy iOS */
}
    