/* gruppo-400normal - latin */
@font-face {
  font-family: 'Gruppo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Gruppo Regular '),
    local('Gruppo-Regular'),
    url('./files/gruppo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gruppo-latin-400.woff') format('woff'), /* Modern Browsers */
}

