/* vesper-libre-400normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 400;
  src: url('./files/vesper-libre-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Vesper Libre Regular '), local('Vesper Libre-Regular'),
       url('./files/vesper-libre-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/vesper-libre-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/vesper-libre-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/vesper-libre-latin-400.svg#Vesper Libre') format('svg'); /* Legacy iOS */
}
/* vesper-libre-700normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 700;
  src: url('./files/vesper-libre-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Vesper Libre Bold '), local('Vesper Libre-Bold'),
       url('./files/vesper-libre-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/vesper-libre-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/vesper-libre-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/vesper-libre-latin-700.svg#Vesper Libre') format('svg'); /* Legacy iOS */
}
/* vesper-libre-500normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 500;
  src: url('./files/vesper-libre-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Vesper Libre Medium '), local('Vesper Libre-Medium'),
       url('./files/vesper-libre-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/vesper-libre-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/vesper-libre-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/vesper-libre-latin-500.svg#Vesper Libre') format('svg'); /* Legacy iOS */
}
/* vesper-libre-900normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-weight: 900;
  src: url('./files/vesper-libre-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Vesper Libre Black '), local('Vesper Libre-Black'),
       url('./files/vesper-libre-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/vesper-libre-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/vesper-libre-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./files/vesper-libre-latin-900.svg#Vesper Libre') format('svg'); /* Legacy iOS */
}
