/* vesper-libre-400normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Vesper Libre Regular '),
    local('Vesper Libre-Regular'),
    url('./files/vesper-libre-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vesper-libre-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* vesper-libre-500normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Vesper Libre Medium '),
    local('Vesper Libre-Medium'),
    url('./files/vesper-libre-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vesper-libre-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* vesper-libre-700normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Vesper Libre Bold '),
    local('Vesper Libre-Bold'),
    url('./files/vesper-libre-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vesper-libre-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* vesper-libre-900normal - latin */
@font-face {
  font-family: 'Vesper Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Vesper Libre Black '),
    local('Vesper Libre-Black'),
    url('./files/vesper-libre-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vesper-libre-latin-900.woff') format('woff'); /* Modern Browsers */
}

