/* lancelot-400normal - latin */
@font-face {
  font-family: 'Lancelot';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lancelot Regular '),
    local('Lancelot-Regular'),
    url('./files/lancelot-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lancelot-latin-400.woff') format('woff'); /* Modern Browsers */
}

