/* cambay-400normal - latin */
@font-face {
  font-family: 'Cambay';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cambay Regular '),
    local('Cambay-Regular'),
    url('./files/cambay-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cambay-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* cambay-400italic - latin */
@font-face {
  font-family: 'Cambay';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cambay Regular italic'),
    local('Cambay-Regularitalic'),
    url('./files/cambay-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cambay-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* cambay-700normal - latin */
@font-face {
  font-family: 'Cambay';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cambay Bold '),
    local('Cambay-Bold'),
    url('./files/cambay-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cambay-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* cambay-700italic - latin */
@font-face {
  font-family: 'Cambay';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cambay Bold italic'),
    local('Cambay-Bolditalic'),
    url('./files/cambay-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cambay-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

