
/* petit-formal-script-400normal - latin */
@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 400;
  src: url('./files/petit-formal-script-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Petit Formal Script Regular '), local('Petit Formal Script-Regular'),
       url('./files/petit-formal-script-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/petit-formal-script-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/petit-formal-script-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/petit-formal-script-latin-400.svg#Petit Formal Script') format('svg'); /* Legacy iOS */
}
    