/* ultra-400normal - latin */
@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ultra Regular '),
    local('Ultra-Regular'),
    url('./files/ultra-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ultra-latin-400.woff') format('woff'), /* Modern Browsers */
}

