/* swanky-and-moo-moo-400normal - latin */
@font-face {
  font-family: 'Swanky and Moo Moo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Swanky and Moo Moo Regular '),
    local('Swanky and Moo Moo-Regular'),
    url('./files/swanky-and-moo-moo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/swanky-and-moo-moo-latin-400.woff') format('woff'), /* Modern Browsers */
}

