/* londrina-shadow-400normal - latin */
@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Londrina Shadow Regular '),
    local('Londrina Shadow-Regular'),
    url('./files/londrina-shadow-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/londrina-shadow-latin-400.woff') format('woff'); /* Modern Browsers */
}

