/* londrina-shadow-400normal - latin */
@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('./files/londrina-shadow-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Londrina Shadow Regular '),
    local('Londrina Shadow-Regular'),
    url('./files/londrina-shadow-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/londrina-shadow-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/londrina-shadow-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/londrina-shadow-latin-400.svg#londrina-shadow') format('svg'); /* Legacy iOS */
}

