/* unkempt-400normal - latin */
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Unkempt Regular '),
    local('Unkempt-Regular'),
    url('./files/unkempt-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/unkempt-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* unkempt-700normal - latin */
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Unkempt Bold '),
    local('Unkempt-Bold'),
    url('./files/unkempt-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/unkempt-latin-700.woff') format('woff'); /* Modern Browsers */
}

