
/* fascinate-inline-400normal - latin */
@font-face {
  font-family: 'Fascinate Inline';
  font-style: normal;
  font-weight: 400;
  src: url('./files/fascinate-inline-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Fascinate Inline Regular '), local('Fascinate Inline-Regular'),
       url('./files/fascinate-inline-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/fascinate-inline-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/fascinate-inline-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/fascinate-inline-latin-400.svg#Fascinate Inline') format('svg'); /* Legacy iOS */
}
    