/* lora-400normal - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lora Regular '),
    local('Lora-Regular'),
    url('./files/lora-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* lora-400italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lora Regular italic'),
    local('Lora-Regularitalic'),
    url('./files/lora-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* lora-700normal - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Lora Bold '),
    local('Lora-Bold'),
    url('./files/lora-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* lora-700italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Lora Bold italic'),
    local('Lora-Bolditalic'),
    url('./files/lora-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

