/* quicksand-300normal - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('./files/quicksand-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Light '), local('Quicksand-Light'),
       url('./files/quicksand-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/quicksand-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/quicksand-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./files/quicksand-latin-300.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-400normal - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('./files/quicksand-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Regular '), local('Quicksand-Regular'),
       url('./files/quicksand-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/quicksand-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/quicksand-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/quicksand-latin-400.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-500normal - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('./files/quicksand-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Medium '), local('Quicksand-Medium'),
       url('./files/quicksand-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/quicksand-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/quicksand-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/quicksand-latin-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700normal - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('./files/quicksand-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Quicksand Bold '), local('Quicksand-Bold'),
       url('./files/quicksand-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/quicksand-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/quicksand-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/quicksand-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}
