/* ruge-boogie-400normal - latin */
@font-face {
  font-family: 'Ruge Boogie';
  font-style: normal;
  font-weight: 400;
  src: url('./files/ruge-boogie-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Ruge Boogie Regular '),
    local('Ruge Boogie-Regular'),
    url('./files/ruge-boogie-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/ruge-boogie-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ruge-boogie-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/ruge-boogie-latin-400.svg#RugeBoogie') format('svg'); /* Legacy iOS */
}

