
/* montserrat-subrayada-400normal - latin */
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  src: url('./files/montserrat-subrayada-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Subrayada Regular '), local('Montserrat Subrayada-Regular'),
       url('./files/montserrat-subrayada-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/montserrat-subrayada-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/montserrat-subrayada-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/montserrat-subrayada-latin-400.svg#Montserrat Subrayada') format('svg'); /* Legacy iOS */
}
    
/* montserrat-subrayada-700normal - latin */
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 700;
  src: url('./files/montserrat-subrayada-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Subrayada Bold '), local('Montserrat Subrayada-Bold'),
       url('./files/montserrat-subrayada-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/montserrat-subrayada-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/montserrat-subrayada-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/montserrat-subrayada-latin-700.svg#Montserrat Subrayada') format('svg'); /* Legacy iOS */
}
    