/* luckiest-guy-400normal - latin */
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Luckiest Guy Regular '),
    local('Luckiest Guy-Regular'),
    url('./files/luckiest-guy-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/luckiest-guy-latin-400.woff') format('woff'), /* Modern Browsers */
}

