/* eagle-lake-400normal - latin */
@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Eagle Lake Regular '),
    local('Eagle Lake-Regular'),
    url('./files/eagle-lake-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/eagle-lake-latin-400.woff') format('woff'); /* Modern Browsers */
}

