/* im-fell-dw-pica-400normal - latin */
@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM Fell DW Pica Regular '),
    local('IM Fell DW Pica-Regular'),
    url('./files/im-fell-dw-pica-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-dw-pica-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* im-fell-dw-pica-400italic - latin */
@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM Fell DW Pica Regular italic'),
    local('IM Fell DW Pica-Regularitalic'),
    url('./files/im-fell-dw-pica-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-dw-pica-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

