/* covered-by-your-grace-400normal - latin */
@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Covered By Your Grace Regular '),
    local('Covered By Your Grace-Regular'),
    url('./files/covered-by-your-grace-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/covered-by-your-grace-latin-400.woff') format('woff'), /* Modern Browsers */
}

