/* fruktur-400normal - latin */
@font-face {
  font-family: 'Fruktur';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fruktur Regular '),
    local('Fruktur-Regular'),
    url('./files/fruktur-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fruktur-latin-400.woff') format('woff'); /* Modern Browsers */
}

