/* sorts-mill-goudy-400normal - latin */
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sorts Mill Goudy Regular '),
    local('Sorts Mill Goudy-Regular'),
    url('./files/sorts-mill-goudy-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sorts-mill-goudy-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* sorts-mill-goudy-400italic - latin */
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sorts Mill Goudy Regular italic'),
    local('Sorts Mill Goudy-Regularitalic'),
    url('./files/sorts-mill-goudy-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sorts-mill-goudy-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

