/* abeezee-400normal - latin */
@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url('./files/abeezee-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('ABeeZee Regular '),
    local('ABeeZee-Regular'),
    url('./files/abeezee-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/abeezee-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/abeezee-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/abeezee-latin-400.svg#Abeezee') format('svg'); /* Legacy iOS */
}

/* abeezee-400italic - latin */
@font-face {
  font-family: 'ABeeZee';
  font-style: italic;
  font-weight: 400;
  src: url('./files/abeezee-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('ABeeZee Regular italic'),
    local('ABeeZee-Regularitalic'),
    url('./files/abeezee-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/abeezee-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/abeezee-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('./files/abeezee-latin-400italic.svg#Abeezee') format('svg'); /* Legacy iOS */
}

