/* vollkorn-400normal - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Vollkorn Regular '),
    local('Vollkorn-Regular'),
    url('./files/vollkorn-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vollkorn-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* vollkorn-400italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Vollkorn Regular italic'),
    local('Vollkorn-Regularitalic'),
    url('./files/vollkorn-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vollkorn-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* vollkorn-700normal - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Vollkorn Bold '),
    local('Vollkorn-Bold'),
    url('./files/vollkorn-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vollkorn-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* vollkorn-700italic - latin */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Vollkorn Bold italic'),
    local('Vollkorn-Bolditalic'),
    url('./files/vollkorn-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vollkorn-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

