/* aladin-400normal - latin */
@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Aladin Regular '),
    local('Aladin-Regular'),
    url('./files/aladin-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/aladin-latin-400.woff') format('woff'), /* Modern Browsers */
}

