/* jim-nightshade-400normal - latin */
@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Jim Nightshade Regular '),
    local('Jim Nightshade-Regular'),
    url('./files/jim-nightshade-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jim-nightshade-latin-400.woff') format('woff'); /* Modern Browsers */
}

