/* poly-400normal - latin */
@font-face {
  font-family: 'Poly';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Poly Regular '),
    local('Poly-Regular'),
    url('./files/poly-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poly-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* poly-400italic - latin */
@font-face {
  font-family: 'Poly';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Poly Regular italic'),
    local('Poly-Regularitalic'),
    url('./files/poly-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/poly-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

