/* bungee-hairline-400normal - latin */
@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bungee Hairline Regular '),
    local('Bungee Hairline-Regular'),
    url('./files/bungee-hairline-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bungee-hairline-latin-400.woff') format('woff'); /* Modern Browsers */
}

