
/* miriam-libre-400normal - latin */
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  src: url('./files/miriam-libre-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Miriam Libre Regular '), local('Miriam Libre-Regular'),
       url('./files/miriam-libre-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/miriam-libre-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/miriam-libre-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/miriam-libre-latin-400.svg#Miriam Libre') format('svg'); /* Legacy iOS */
}
    
/* miriam-libre-700normal - latin */
@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 700;
  src: url('./files/miriam-libre-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Miriam Libre Bold '), local('Miriam Libre-Bold'),
       url('./files/miriam-libre-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/miriam-libre-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/miriam-libre-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/miriam-libre-latin-700.svg#Miriam Libre') format('svg'); /* Legacy iOS */
}
    