/* im-fell-double-pica-400normal - latin */
@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM Fell Double Pica Regular '),
    local('IM Fell Double Pica-Regular'),
    url('./files/im-fell-double-pica-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-double-pica-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* im-fell-double-pica-400italic - latin */
@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM Fell Double Pica Regular italic'),
    local('IM Fell Double Pica-Regularitalic'),
    url('./files/im-fell-double-pica-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-double-pica-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

