/* reenie-beanie-400normal - latin */
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Reenie Beanie Regular '),
    local('Reenie Beanie-Regular'),
    url('./files/reenie-beanie-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/reenie-beanie-latin-400.woff') format('woff'); /* Modern Browsers */
}

