/* passero-one-400normal - latin */
@font-face {
  font-family: 'Passero One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Passero One Regular '),
    local('Passero One-Regular'),
    url('./files/passero-one-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/passero-one-latin-400.woff') format('woff'); /* Modern Browsers */
}

