/* cooper-hewitt-100normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Cooper Hewitt Thin normal'),
    local('Cooper Hewitt-Thinnormal'),
    url('./files/cooper-hewitt-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-100.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-100italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Cooper Hewitt Thin italic'),
    local('Cooper Hewitt-Thinitalic'),
    url('./files/cooper-hewitt-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-100italic.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-300normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cooper Hewitt Light normal'),
    local('Cooper Hewitt-Lightnormal'),
    url('./files/cooper-hewitt-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-300.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-300italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cooper Hewitt Light italic'),
    local('Cooper Hewitt-Lightitalic'),
    url('./files/cooper-hewitt-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-300italic.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-400normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cooper Hewitt Regular normal'),
    local('Cooper Hewitt-Regularnormal'),
    url('./files/cooper-hewitt-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-400.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-400italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cooper Hewitt Regular italic'),
    local('Cooper Hewitt-Regularitalic'),
    url('./files/cooper-hewitt-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-400italic.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-500normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cooper Hewitt Medium normal'),
    local('Cooper Hewitt-Mediumnormal'),
    url('./files/cooper-hewitt-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-500.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-500italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cooper Hewitt Medium italic'),
    local('Cooper Hewitt-Mediumitalic'),
    url('./files/cooper-hewitt-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-500italic.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-600normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cooper Hewitt SemiBold normal'),
    local('Cooper Hewitt-SemiBoldnormal'),
    url('./files/cooper-hewitt-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-600.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-600italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cooper Hewitt SemiBold italic'),
    local('Cooper Hewitt-SemiBolditalic'),
    url('./files/cooper-hewitt-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-600italic.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-700normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cooper Hewitt Bold normal'),
    local('Cooper Hewitt-Boldnormal'),
    url('./files/cooper-hewitt-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-700.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-700italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cooper Hewitt Bold italic'),
    local('Cooper Hewitt-Bolditalic'),
    url('./files/cooper-hewitt-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-700italic.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-800normal - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Cooper Hewitt ExtraBold normal'),
    local('Cooper Hewitt-ExtraBoldnormal'),
    url('./files/cooper-hewitt-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-800.woff') format('woff'); /* Modern Browsers */
}

/* cooper-hewitt-800italic - latin */
@font-face {
  font-family: 'Cooper Hewitt';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Cooper Hewitt ExtraBold italic'),
    local('Cooper Hewitt-ExtraBolditalic'),
    url('./files/cooper-hewitt-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cooper-hewitt-800italic.woff') format('woff'); /* Modern Browsers */
}

