/* cambo-400normal - latin */
@font-face {
  font-family: 'Cambo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cambo Regular '),
    local('Cambo-Regular'),
    url('./files/cambo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cambo-latin-400.woff') format('woff'), /* Modern Browsers */
}

