/* press-start-2p-400normal - latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('./files/press-start-2p-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Press Start 2P Regular '), local('Press Start 2P-Regular'),
       url('./files/press-start-2p-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/press-start-2p-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/press-start-2p-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/press-start-2p-latin-400.svg#Press Start 2P') format('svg'); /* Legacy iOS */
}
