/* fontdiner-swanky-400normal - latin */
@font-face {
  font-family: 'Fontdiner Swanky';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fontdiner Swanky Regular '),
    local('Fontdiner Swanky-Regular'),
    url('./files/fontdiner-swanky-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fontdiner-swanky-latin-400.woff') format('woff'); /* Modern Browsers */
}

