/* piedra-400normal - latin */
@font-face {
  font-family: 'Piedra';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Piedra Regular '),
    local('Piedra-Regular'),
    url('./files/piedra-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/piedra-latin-400.woff') format('woff'); /* Modern Browsers */
}

