/* rouge-script-400normal - latin */
@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rouge Script Regular '),
    local('Rouge Script-Regular'),
    url('./files/rouge-script-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rouge-script-latin-400.woff') format('woff'); /* Modern Browsers */
}

