/* oxygen-300normal - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Oxygen Light '),
    local('Oxygen-Light'),
    url('./files/oxygen-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/oxygen-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* oxygen-400normal - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Oxygen Regular '),
    local('Oxygen-Regular'),
    url('./files/oxygen-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/oxygen-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* oxygen-700normal - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Oxygen Bold '),
    local('Oxygen-Bold'),
    url('./files/oxygen-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/oxygen-latin-700.woff') format('woff'), /* Modern Browsers */
}

