/* nobile-400normal - latin */
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nobile Regular '),
    local('Nobile-Regular'),
    url('./files/nobile-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nobile-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* nobile-400italic - latin */
@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nobile Regular italic'),
    local('Nobile-Regularitalic'),
    url('./files/nobile-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nobile-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* nobile-500normal - latin */
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Nobile Medium '),
    local('Nobile-Medium'),
    url('./files/nobile-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nobile-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* nobile-500italic - latin */
@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Nobile Medium italic'),
    local('Nobile-Mediumitalic'),
    url('./files/nobile-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nobile-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* nobile-700normal - latin */
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Nobile Bold '),
    local('Nobile-Bold'),
    url('./files/nobile-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nobile-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* nobile-700italic - latin */
@font-face {
  font-family: 'Nobile';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Nobile Bold italic'),
    local('Nobile-Bolditalic'),
    url('./files/nobile-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nobile-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

