/* changa-200normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Changa Extra Light '),
    local('Changa-Extra Light'),
    url('./files/changa-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* changa-300normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Changa Light '),
    local('Changa-Light'),
    url('./files/changa-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* changa-400normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Changa Regular '),
    local('Changa-Regular'),
    url('./files/changa-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* changa-500normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Changa Medium '),
    local('Changa-Medium'),
    url('./files/changa-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* changa-600normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Changa SemiBold '),
    local('Changa-SemiBold'),
    url('./files/changa-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* changa-700normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Changa Bold '),
    local('Changa-Bold'),
    url('./files/changa-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* changa-800normal - latin */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Changa ExtraBold '),
    local('Changa-ExtraBold'),
    url('./files/changa-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/changa-latin-800.woff') format('woff'); /* Modern Browsers */
}

