/* geo-400normal - latin */
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Geo Regular '),
    local('Geo-Regular'),
    url('./files/geo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/geo-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* geo-400italic - latin */
@font-face {
  font-family: 'Geo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Geo Regular italic'),
    local('Geo-Regularitalic'),
    url('./files/geo-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/geo-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

