/* new-rocker-400normal - latin */
@font-face {
  font-family: 'New Rocker';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('New Rocker Regular '),
    local('New Rocker-Regular'),
    url('./files/new-rocker-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/new-rocker-latin-400.woff') format('woff'), /* Modern Browsers */
}

