
/* nova-oval-400normal - latin */
@font-face {
  font-family: 'Nova Oval';
  font-style: normal;
  font-weight: 400;
  src: url('./files/nova-oval-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Nova Oval Regular '), local('Nova Oval-Regular'),
       url('./files/nova-oval-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/nova-oval-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/nova-oval-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/nova-oval-latin-400.svg#Nova Oval') format('svg'); /* Legacy iOS */
}
    