/* gamja-flower-400normal - latin */
@font-face {
  font-family: 'Gamja Flower';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Gamja Flower Regular '),
    local('Gamja Flower-Regular'),
    url('./files/gamja-flower-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gamja-flower-latin-400.woff') format('woff'); /* Modern Browsers */
}

