/* bevan-400normal - latin */
@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bevan Regular '),
    local('Bevan-Regular'),
    url('./files/bevan-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bevan-latin-400.woff') format('woff'), /* Modern Browsers */
}

