/* abril-fatface-400normal - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('./files/abril-fatface-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Abril Fatface Regular '),
    local('Abril Fatface-Regular'),
    url('./files/abril-fatface-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/abril-fatface-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/abril-fatface-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/abril-fatface-latin-400.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

