/* quattrocento-400normal - latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url('./files/quattrocento-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Quattrocento Regular '), local('Quattrocento-Regular'),
       url('./files/quattrocento-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/quattrocento-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/quattrocento-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/quattrocento-latin-400.svg#Quattrocento') format('svg'); /* Legacy iOS */
}
/* quattrocento-700normal - latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url('./files/quattrocento-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Quattrocento Bold '), local('Quattrocento-Bold'),
       url('./files/quattrocento-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/quattrocento-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/quattrocento-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/quattrocento-latin-700.svg#Quattrocento') format('svg'); /* Legacy iOS */
}
