/* tienne-400normal - latin */
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tienne Regular '),
    local('Tienne-Regular'),
    url('./files/tienne-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tienne-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* tienne-700normal - latin */
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Tienne Bold '),
    local('Tienne-Bold'),
    url('./files/tienne-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tienne-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* tienne-900normal - latin */
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Tienne Black '),
    local('Tienne-Black'),
    url('./files/tienne-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tienne-latin-900.woff') format('woff'), /* Modern Browsers */
}

