/* handlee-400normal - latin */
@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Handlee Regular '),
    local('Handlee-Regular'),
    url('./files/handlee-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/handlee-latin-400.woff') format('woff'); /* Modern Browsers */
}

