/* carme-400normal - latin */
@font-face {
  font-family: 'Carme';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Carme Regular '),
    local('Carme-Regular'),
    url('./files/carme-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/carme-latin-400.woff') format('woff'); /* Modern Browsers */
}

