/* cairo-200normal - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Cairo Extra Light '),
    local('Cairo-Extra Light'),
    url('./files/cairo-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cairo-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* cairo-300normal - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cairo Light '),
    local('Cairo-Light'),
    url('./files/cairo-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cairo-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* cairo-400normal - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cairo Regular '),
    local('Cairo-Regular'),
    url('./files/cairo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cairo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* cairo-600normal - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cairo SemiBold '),
    local('Cairo-SemiBold'),
    url('./files/cairo-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cairo-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* cairo-700normal - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cairo Bold '),
    local('Cairo-Bold'),
    url('./files/cairo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cairo-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* cairo-900normal - latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Cairo Black '),
    local('Cairo-Black'),
    url('./files/cairo-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cairo-latin-900.woff') format('woff'); /* Modern Browsers */
}

