/* buenard-400normal - latin */
@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 400;
  src: url('./files/buenard-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Buenard Regular '), local('Buenard-Regular'),
       url('./files/buenard-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/buenard-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/buenard-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/buenard-latin-400.svg#Buenard') format('svg'); /* Legacy iOS */
}
/* buenard-700normal - latin */
@font-face {
  font-family: 'Buenard';
  font-style: normal;
  font-weight: 700;
  src: url('./files/buenard-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Buenard Bold '), local('Buenard-Bold'),
       url('./files/buenard-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/buenard-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/buenard-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/buenard-latin-700.svg#Buenard') format('svg'); /* Legacy iOS */
}
