/* cardo-400normal - latin */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cardo Regular '),
    local('Cardo-Regular'),
    url('./files/cardo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cardo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* cardo-400italic - latin */
@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cardo Regular italic'),
    local('Cardo-Regularitalic'),
    url('./files/cardo-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cardo-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* cardo-700normal - latin */
@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cardo Bold '),
    local('Cardo-Bold'),
    url('./files/cardo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cardo-latin-700.woff') format('woff'); /* Modern Browsers */
}

