/* pinyon-script-400normal - latin */
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Pinyon Script Regular '),
    local('Pinyon Script-Regular'),
    url('./files/pinyon-script-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pinyon-script-latin-400.woff') format('woff'), /* Modern Browsers */
}

