/* museomoderno-100normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('MuseoModerno Thin '),
    local('MuseoModerno-Thin'),
    url('./files/museomoderno-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-200normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('MuseoModerno Extra Light '),
    local('MuseoModerno-Extra Light'),
    url('./files/museomoderno-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-300normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('MuseoModerno Light '),
    local('MuseoModerno-Light'),
    url('./files/museomoderno-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-400normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('MuseoModerno Regular '),
    local('MuseoModerno-Regular'),
    url('./files/museomoderno-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-500normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('MuseoModerno Medium '),
    local('MuseoModerno-Medium'),
    url('./files/museomoderno-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-600normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('MuseoModerno SemiBold '),
    local('MuseoModerno-SemiBold'),
    url('./files/museomoderno-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-700normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('MuseoModerno Bold '),
    local('MuseoModerno-Bold'),
    url('./files/museomoderno-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-800normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('MuseoModerno ExtraBold '),
    local('MuseoModerno-ExtraBold'),
    url('./files/museomoderno-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* museomoderno-900normal - latin */
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('MuseoModerno Black '),
    local('MuseoModerno-Black'),
    url('./files/museomoderno-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/museomoderno-latin-900.woff') format('woff'); /* Modern Browsers */
}

