/* volkhov-400normal - latin */
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Volkhov Regular '),
    local('Volkhov-Regular'),
    url('./files/volkhov-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/volkhov-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* volkhov-400italic - latin */
@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Volkhov Regular italic'),
    local('Volkhov-Regularitalic'),
    url('./files/volkhov-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/volkhov-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* volkhov-700normal - latin */
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Volkhov Bold '),
    local('Volkhov-Bold'),
    url('./files/volkhov-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/volkhov-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* volkhov-700italic - latin */
@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Volkhov Bold italic'),
    local('Volkhov-Bolditalic'),
    url('./files/volkhov-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/volkhov-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

