/* simonetta-400normal - latin */
@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Simonetta Regular '),
    local('Simonetta-Regular'),
    url('./files/simonetta-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/simonetta-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* simonetta-400italic - latin */
@font-face {
  font-family: 'Simonetta';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Simonetta Regular italic'),
    local('Simonetta-Regularitalic'),
    url('./files/simonetta-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/simonetta-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* simonetta-900normal - latin */
@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Simonetta Black '),
    local('Simonetta-Black'),
    url('./files/simonetta-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/simonetta-latin-900.woff') format('woff'), /* Modern Browsers */
}

/* simonetta-900italic - latin */
@font-face {
  font-family: 'Simonetta';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Simonetta Black italic'),
    local('Simonetta-Blackitalic'),
    url('./files/simonetta-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/simonetta-latin-900italic.woff') format('woff'), /* Modern Browsers */
}

