/* fahkwang-200normal - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang Extra Light '),
    local('Fahkwang-Extra Light'),
    url('./files/fahkwang-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-200italic - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang Extra Light italic'),
    local('Fahkwang-Extra Lightitalic'),
    url('./files/fahkwang-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-300normal - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light '),
    local('Fahkwang-Light'),
    url('./files/fahkwang-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-300italic - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light italic'),
    local('Fahkwang-Lightitalic'),
    url('./files/fahkwang-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-400normal - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Regular '),
    local('Fahkwang-Regular'),
    url('./files/fahkwang-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-400italic - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Regular italic'),
    local('Fahkwang-Regularitalic'),
    url('./files/fahkwang-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-500normal - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium '),
    local('Fahkwang-Medium'),
    url('./files/fahkwang-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-500italic - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium italic'),
    local('Fahkwang-Mediumitalic'),
    url('./files/fahkwang-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-600normal - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold '),
    local('Fahkwang-SemiBold'),
    url('./files/fahkwang-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-600italic - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold italic'),
    local('Fahkwang-SemiBolditalic'),
    url('./files/fahkwang-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-700normal - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold '),
    local('Fahkwang-Bold'),
    url('./files/fahkwang-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* fahkwang-700italic - latin */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold italic'),
    local('Fahkwang-Bolditalic'),
    url('./files/fahkwang-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

