
/* macondo-400normal - latin */
@font-face {
  font-family: 'Macondo';
  font-style: normal;
  font-weight: 400;
  src: url('./files/macondo-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Macondo Regular '), local('Macondo-Regular'),
       url('./files/macondo-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/macondo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/macondo-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/macondo-latin-400.svg#Macondo') format('svg'); /* Legacy iOS */
}
    