/* im-fell-french-canon-400normal - latin */
@font-face {
  font-family: 'IM Fell French Canon';
  font-style: normal;
  font-weight: 400;
  src: url('./files/im-fell-french-canon-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('IM Fell French Canon Regular '),
    local('IM Fell French Canon-Regular'),
    url('./files/im-fell-french-canon-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/im-fell-french-canon-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-french-canon-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/im-fell-french-canon-latin-400.svg#im-fell-french-canon') format('svg'); /* Legacy iOS */
}

/* im-fell-french-canon-400italic - latin */
@font-face {
  font-family: 'IM Fell French Canon';
  font-style: italic;
  font-weight: 400;
  src: url('./files/im-fell-french-canon-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('IM Fell French Canon Regular italic'),
    local('IM Fell French Canon-Regularitalic'),
    url('./files/im-fell-french-canon-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/im-fell-french-canon-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-french-canon-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('./files/im-fell-french-canon-latin-400italic.svg#im-fell-french-canon') format('svg'); /* Legacy iOS */
}

