/* neuton-200normal - latin */
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Neuton Extra Light '),
    local('Neuton-Extra Light'),
    url('./files/neuton-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/neuton-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* neuton-300normal - latin */
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Neuton Light '),
    local('Neuton-Light'),
    url('./files/neuton-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/neuton-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* neuton-400normal - latin */
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Neuton Regular '),
    local('Neuton-Regular'),
    url('./files/neuton-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/neuton-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* neuton-400italic - latin */
@font-face {
  font-family: 'Neuton';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Neuton Regular italic'),
    local('Neuton-Regularitalic'),
    url('./files/neuton-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/neuton-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* neuton-700normal - latin */
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Neuton Bold '),
    local('Neuton-Bold'),
    url('./files/neuton-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/neuton-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* neuton-800normal - latin */
@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Neuton ExtraBold '),
    local('Neuton-ExtraBold'),
    url('./files/neuton-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/neuton-latin-800.woff') format('woff'), /* Modern Browsers */
}

