/* fanwood-text-400normal - latin */
@font-face {
  font-family: 'Fanwood Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fanwood Text Regular '),
    local('Fanwood Text-Regular'),
    url('./files/fanwood-text-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fanwood-text-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* fanwood-text-400italic - latin */
@font-face {
  font-family: 'Fanwood Text';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fanwood Text Regular italic'),
    local('Fanwood Text-Regularitalic'),
    url('./files/fanwood-text-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fanwood-text-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

