/* gudea-400normal - latin */
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Gudea Regular '),
    local('Gudea-Regular'),
    url('./files/gudea-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gudea-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* gudea-400italic - latin */
@font-face {
  font-family: 'Gudea';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Gudea Regular italic'),
    local('Gudea-Regularitalic'),
    url('./files/gudea-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gudea-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* gudea-700normal - latin */
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Gudea Bold '),
    local('Gudea-Bold'),
    url('./files/gudea-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gudea-latin-700.woff') format('woff'), /* Modern Browsers */
}

