/* nova-flat-400normal - latin */
@font-face {
  font-family: 'Nova Flat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nova Flat Regular '),
    local('Nova Flat-Regular'),
    url('./files/nova-flat-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nova-flat-latin-400.woff') format('woff'); /* Modern Browsers */
}

