/* codystar-300normal - latin */
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Codystar Light '),
    local('Codystar-Light'),
    url('./files/codystar-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/codystar-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* codystar-400normal - latin */
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Codystar Regular '),
    local('Codystar-Regular'),
    url('./files/codystar-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/codystar-latin-400.woff') format('woff'), /* Modern Browsers */
}

