/* tinos-400normal - latin */
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/tinos-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Tinos Regular '),
    local('Tinos-Regular'),
    url('./files/tinos-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/tinos-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tinos-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/tinos-latin-400.svg#Tinos') format('svg'); /* Legacy iOS */
}

/* tinos-400italic - latin */
@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('./files/tinos-latin-400italic.eot'); /* IE9 Compat Modes */
  src:
    local('Tinos Regular italic'),
    local('Tinos-Regularitalic'),
    url('./files/tinos-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/tinos-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tinos-latin-400italic.woff') format('woff'), /* Modern Browsers */
    url('./files/tinos-latin-400italic.svg#Tinos') format('svg'); /* Legacy iOS */
}

/* tinos-700normal - latin */
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/tinos-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Tinos Bold '),
    local('Tinos-Bold'),
    url('./files/tinos-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/tinos-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tinos-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/tinos-latin-700.svg#Tinos') format('svg'); /* Legacy iOS */
}

/* tinos-700italic - latin */
@font-face {
  font-family: 'Tinos';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('./files/tinos-latin-700italic.eot'); /* IE9 Compat Modes */
  src:
    local('Tinos Bold italic'),
    local('Tinos-Bolditalic'),
    url('./files/tinos-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/tinos-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tinos-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('./files/tinos-latin-700italic.svg#Tinos') format('svg'); /* Legacy iOS */
}

