/* londrina-sketch-400normal - latin */
@font-face {
  font-family: 'Londrina Sketch';
  font-style: normal;
  font-weight: 400;
  src: url('./files/londrina-sketch-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Londrina Sketch Regular '), local('Londrina Sketch-Regular'),
       url('./files/londrina-sketch-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/londrina-sketch-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/londrina-sketch-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/londrina-sketch-latin-400.svg#Londrina Sketch') format('svg'); /* Legacy iOS */
}
