/* elsie-swash-caps-900normal - latin */
@font-face {
  font-family: 'Elsie Swash Caps';
  font-style: normal;
  font-weight: 900;
  src: url('./files/elsie-swash-caps-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Elsie Swash Caps Black '), local('Elsie Swash Caps-Black'),
       url('./files/elsie-swash-caps-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/elsie-swash-caps-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/elsie-swash-caps-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./files/elsie-swash-caps-latin-900.svg#Elsie Swash Caps') format('svg'); /* Legacy iOS */
}
/* elsie-swash-caps-400normal - latin */
@font-face {
  font-family: 'Elsie Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: url('./files/elsie-swash-caps-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Elsie Swash Caps Regular '), local('Elsie Swash Caps-Regular'),
       url('./files/elsie-swash-caps-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/elsie-swash-caps-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/elsie-swash-caps-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/elsie-swash-caps-latin-400.svg#Elsie Swash Caps') format('svg'); /* Legacy iOS */
}
