/* belgrano-400normal - latin */
@font-face {
  font-family: 'Belgrano';
  font-style: normal;
  font-weight: 400;
  src: url('./files/belgrano-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Belgrano Regular '),
    local('Belgrano-Regular'),
    url('./files/belgrano-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/belgrano-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/belgrano-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/belgrano-latin-400.svg#Belgrano') format('svg'); /* Legacy iOS */
}

