/* bungee-shade-400normal - latin */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bungee Shade Regular '),
    local('Bungee Shade-Regular'),
    url('./files/bungee-shade-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bungee-shade-latin-400.woff') format('woff'); /* Modern Browsers */
}

