
/* yrsa-300normal - latin */
@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 300;
  src: url('./files/yrsa-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Yrsa Light '), local('Yrsa-Light'),
       url('./files/yrsa-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/yrsa-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/yrsa-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./files/yrsa-latin-300.svg#Yrsa') format('svg'); /* Legacy iOS */
}
    
/* yrsa-400normal - latin */
@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 400;
  src: url('./files/yrsa-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Yrsa Regular '), local('Yrsa-Regular'),
       url('./files/yrsa-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/yrsa-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/yrsa-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/yrsa-latin-400.svg#Yrsa') format('svg'); /* Legacy iOS */
}
    
/* yrsa-500normal - latin */
@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 500;
  src: url('./files/yrsa-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Yrsa Medium '), local('Yrsa-Medium'),
       url('./files/yrsa-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/yrsa-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/yrsa-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/yrsa-latin-500.svg#Yrsa') format('svg'); /* Legacy iOS */
}
    
/* yrsa-600normal - latin */
@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 600;
  src: url('./files/yrsa-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Yrsa SemiBold '), local('Yrsa-SemiBold'),
       url('./files/yrsa-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/yrsa-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/yrsa-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./files/yrsa-latin-600.svg#Yrsa') format('svg'); /* Legacy iOS */
}
    
/* yrsa-700normal - latin */
@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 700;
  src: url('./files/yrsa-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Yrsa Bold '), local('Yrsa-Bold'),
       url('./files/yrsa-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/yrsa-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/yrsa-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/yrsa-latin-700.svg#Yrsa') format('svg'); /* Legacy iOS */
}
    