/* nosifer-400normal - latin */
@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: url('./files/nosifer-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Nosifer Regular '),
    local('Nosifer-Regular'),
    url('./files/nosifer-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/nosifer-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nosifer-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/nosifer-latin-400.svg#Nosifer') format('svg'); /* Legacy iOS */
}

