/* special-elite-400normal - latin */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Special Elite Regular '),
    local('Special Elite-Regular'),
    url('./files/special-elite-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/special-elite-latin-400.woff') format('woff'); /* Modern Browsers */
}

