/* londrina-outline-400normal - latin */
@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Londrina Outline Regular '),
    local('Londrina Outline-Regular'),
    url('./files/londrina-outline-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/londrina-outline-latin-400.woff') format('woff'); /* Modern Browsers */
}

