/* englebert-400normal - latin */
@font-face {
  font-family: 'Englebert';
  font-style: normal;
  font-weight: 400;
  src: url('./files/englebert-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Englebert Regular '),
    local('Englebert-Regular'),
    url('./files/englebert-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/englebert-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/englebert-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/englebert-latin-400.svg#Englebert') format('svg'); /* Legacy iOS */
}

