/* sarpanch-400normal - latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sarpanch Regular '),
    local('Sarpanch-Regular'),
    url('./files/sarpanch-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sarpanch-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* sarpanch-500normal - latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Sarpanch Medium '),
    local('Sarpanch-Medium'),
    url('./files/sarpanch-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sarpanch-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* sarpanch-600normal - latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Sarpanch SemiBold '),
    local('Sarpanch-SemiBold'),
    url('./files/sarpanch-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sarpanch-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* sarpanch-700normal - latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sarpanch Bold '),
    local('Sarpanch-Bold'),
    url('./files/sarpanch-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sarpanch-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* sarpanch-800normal - latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sarpanch ExtraBold '),
    local('Sarpanch-ExtraBold'),
    url('./files/sarpanch-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sarpanch-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* sarpanch-900normal - latin */
@font-face {
  font-family: 'Sarpanch';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Sarpanch Black '),
    local('Sarpanch-Black'),
    url('./files/sarpanch-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sarpanch-latin-900.woff') format('woff'), /* Modern Browsers */
}

