/* medula-one-400normal - latin */
@font-face {
  font-family: 'Medula One';
  font-style: normal;
  font-weight: 400;
  src: url('./files/medula-one-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Medula One Regular '), local('Medula One-Regular'),
       url('./files/medula-one-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/medula-one-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/medula-one-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/medula-one-latin-400.svg#Medula One') format('svg'); /* Legacy iOS */
}
