/* khula-300normal - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 300;
  src: url('./files/khula-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Khula Light '),
    local('Khula-Light'),
    url('./files/khula-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khula-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khula-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/khula-latin-300.svg#Khula') format('svg'); /* Legacy iOS */
}

/* khula-400normal - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  src: url('./files/khula-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Khula Regular '),
    local('Khula-Regular'),
    url('./files/khula-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khula-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khula-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/khula-latin-400.svg#Khula') format('svg'); /* Legacy iOS */
}

/* khula-600normal - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 600;
  src: url('./files/khula-latin-600.eot'); /* IE9 Compat Modes */
  src:
    local('Khula SemiBold '),
    local('Khula-SemiBold'),
    url('./files/khula-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khula-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khula-latin-600.woff') format('woff'), /* Modern Browsers */
    url('./files/khula-latin-600.svg#Khula') format('svg'); /* Legacy iOS */
}

/* khula-700normal - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 700;
  src: url('./files/khula-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Khula Bold '),
    local('Khula-Bold'),
    url('./files/khula-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khula-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khula-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/khula-latin-700.svg#Khula') format('svg'); /* Legacy iOS */
}

/* khula-800normal - latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 800;
  src: url('./files/khula-latin-800.eot'); /* IE9 Compat Modes */
  src:
    local('Khula ExtraBold '),
    local('Khula-ExtraBold'),
    url('./files/khula-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/khula-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/khula-latin-800.woff') format('woff'), /* Modern Browsers */
    url('./files/khula-latin-800.svg#Khula') format('svg'); /* Legacy iOS */
}

