/* nanum-myeongjo-400normal - latin */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nanum Myeongjo Regular '),
    local('Nanum Myeongjo-Regular'),
    url('./files/nanum-myeongjo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nanum-myeongjo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* nanum-myeongjo-700normal - latin */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Nanum Myeongjo Bold '),
    local('Nanum Myeongjo-Bold'),
    url('./files/nanum-myeongjo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nanum-myeongjo-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* nanum-myeongjo-800normal - latin */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Nanum Myeongjo ExtraBold '),
    local('Nanum Myeongjo-ExtraBold'),
    url('./files/nanum-myeongjo-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nanum-myeongjo-latin-800.woff') format('woff'); /* Modern Browsers */
}

