/* convergence-400normal - latin */
@font-face {
  font-family: 'Convergence';
  font-style: normal;
  font-weight: 400;
  src: url('./files/convergence-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Convergence Regular '),
    local('Convergence-Regular'),
    url('./files/convergence-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/convergence-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/convergence-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/convergence-latin-400.svg#Convergence') format('svg'); /* Legacy iOS */
}

