/* oregano-400normal - latin */
@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Oregano Regular '),
    local('Oregano-Regular'),
    url('./files/oregano-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/oregano-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* oregano-400italic - latin */
@font-face {
  font-family: 'Oregano';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Oregano Regular italic'),
    local('Oregano-Regularitalic'),
    url('./files/oregano-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/oregano-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

