/* ruluko-400normal - latin */
@font-face {
  font-family: 'Ruluko';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ruluko Regular '),
    local('Ruluko-Regular'),
    url('./files/ruluko-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ruluko-latin-400.woff') format('woff'), /* Modern Browsers */
}

