/* im-fell-dw-pica-sc-400normal - latin */
@font-face {
  font-family: 'IM Fell DW Pica SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IM Fell DW Pica SC Regular '),
    local('IM Fell DW Pica SC-Regular'),
    url('./files/im-fell-dw-pica-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/im-fell-dw-pica-sc-latin-400.woff') format('woff'), /* Modern Browsers */
}

