/* yanone-kaffeesatz-200normal - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 200;
  src: url('./files/yanone-kaffeesatz-latin-200.eot'); /* IE9 Compat Modes */
  src:
    local('Yanone Kaffeesatz Extra Light '),
    local('Yanone Kaffeesatz-Extra Light'),
    url('./files/yanone-kaffeesatz-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/yanone-kaffeesatz-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-200.woff') format('woff'), /* Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-200.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}

/* yanone-kaffeesatz-300normal - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: url('./files/yanone-kaffeesatz-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Yanone Kaffeesatz Light '),
    local('Yanone Kaffeesatz-Light'),
    url('./files/yanone-kaffeesatz-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/yanone-kaffeesatz-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-300.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}

/* yanone-kaffeesatz-400normal - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('./files/yanone-kaffeesatz-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Yanone Kaffeesatz Regular '),
    local('Yanone Kaffeesatz-Regular'),
    url('./files/yanone-kaffeesatz-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/yanone-kaffeesatz-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-400.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}

/* yanone-kaffeesatz-700normal - latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: url('./files/yanone-kaffeesatz-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Yanone Kaffeesatz Bold '),
    local('Yanone Kaffeesatz-Bold'),
    url('./files/yanone-kaffeesatz-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/yanone-kaffeesatz-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/yanone-kaffeesatz-latin-700.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}

