/* comfortaa-300normal - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('./files/comfortaa-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Comfortaa Light '),
    local('Comfortaa-Light'),
    url('./files/comfortaa-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/comfortaa-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/comfortaa-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/comfortaa-latin-300.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* comfortaa-400normal - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/comfortaa-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Comfortaa Regular '),
    local('Comfortaa-Regular'),
    url('./files/comfortaa-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/comfortaa-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/comfortaa-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/comfortaa-latin-400.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/* comfortaa-700normal - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./files/comfortaa-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Comfortaa Bold '),
    local('Comfortaa-Bold'),
    url('./files/comfortaa-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/comfortaa-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/comfortaa-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/comfortaa-latin-700.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

