/* scada-400normal - latin */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Scada Regular '),
    local('Scada-Regular'),
    url('./files/scada-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/scada-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* scada-400italic - latin */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Scada Regular italic'),
    local('Scada-Regularitalic'),
    url('./files/scada-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/scada-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* scada-700normal - latin */
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Scada Bold '),
    local('Scada-Bold'),
    url('./files/scada-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/scada-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* scada-700italic - latin */
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Scada Bold italic'),
    local('Scada-Bolditalic'),
    url('./files/scada-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/scada-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

