/* nothing-you-could-do-400normal - latin */
@font-face {
  font-family: 'Nothing You Could Do';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nothing You Could Do Regular '),
    local('Nothing You Could Do-Regular'),
    url('./files/nothing-you-could-do-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nothing-you-could-do-latin-400.woff') format('woff'); /* Modern Browsers */
}

