/* voces-400normal - latin */
@font-face {
  font-family: 'Voces';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Voces Regular '),
    local('Voces-Regular'),
    url('./files/voces-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/voces-latin-400.woff') format('woff'); /* Modern Browsers */
}

