/* galada-400normal - latin */
@font-face {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  src: url('./files/galada-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Galada Regular '),
    local('Galada-Regular'),
    url('./files/galada-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/galada-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/galada-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/galada-latin-400.svg#Galada') format('svg'); /* Legacy iOS */
}

