/* electrolize-400normal - latin */
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Electrolize Regular '),
    local('Electrolize-Regular'),
    url('./files/electrolize-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/electrolize-latin-400.woff') format('woff'), /* Modern Browsers */
}

