/* playfair-display-sc-400normal - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Playfair Display SC Regular '),
    local('Playfair Display SC-Regular'),
    url('./files/playfair-display-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/playfair-display-sc-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-sc-400italic - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Playfair Display SC Regular italic'),
    local('Playfair Display SC-Regularitalic'),
    url('./files/playfair-display-sc-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/playfair-display-sc-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-sc-700normal - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Playfair Display SC Bold '),
    local('Playfair Display SC-Bold'),
    url('./files/playfair-display-sc-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/playfair-display-sc-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-sc-700italic - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Playfair Display SC Bold italic'),
    local('Playfair Display SC-Bolditalic'),
    url('./files/playfair-display-sc-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/playfair-display-sc-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-sc-900normal - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Playfair Display SC Black '),
    local('Playfair Display SC-Black'),
    url('./files/playfair-display-sc-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/playfair-display-sc-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-sc-900italic - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Playfair Display SC Black italic'),
    local('Playfair Display SC-Blackitalic'),
    url('./files/playfair-display-sc-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/playfair-display-sc-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

