/* timmana-400normal - latin */
@font-face {
  font-family: 'Timmana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Timmana Regular '),
    local('Timmana-Regular'),
    url('./files/timmana-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/timmana-latin-400.woff') format('woff'); /* Modern Browsers */
}

