/* bitter-400normal - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bitter Regular '),
    local('Bitter-Regular'),
    url('./files/bitter-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bitter-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* bitter-400italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bitter Regular italic'),
    local('Bitter-Regularitalic'),
    url('./files/bitter-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bitter-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* bitter-700normal - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Bitter Bold '),
    local('Bitter-Bold'),
    url('./files/bitter-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bitter-latin-700.woff') format('woff'), /* Modern Browsers */
}

