/* trade-winds-400normal - latin */
@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Trade Winds Regular '),
    local('Trade Winds-Regular'),
    url('./files/trade-winds-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/trade-winds-latin-400.woff') format('woff'); /* Modern Browsers */
}

