/* pridi-200normal - latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Pridi Extra Light '),
    local('Pridi-Extra Light'),
    url('./files/pridi-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pridi-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* pridi-300normal - latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Pridi Light '),
    local('Pridi-Light'),
    url('./files/pridi-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pridi-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* pridi-400normal - latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Pridi Regular '),
    local('Pridi-Regular'),
    url('./files/pridi-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pridi-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* pridi-500normal - latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Pridi Medium '),
    local('Pridi-Medium'),
    url('./files/pridi-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pridi-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* pridi-600normal - latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Pridi SemiBold '),
    local('Pridi-SemiBold'),
    url('./files/pridi-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pridi-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* pridi-700normal - latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Pridi Bold '),
    local('Pridi-Bold'),
    url('./files/pridi-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pridi-latin-700.woff') format('woff'), /* Modern Browsers */
}

