/* bowlby-one-sc-400normal - latin */
@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bowlby One SC Regular '),
    local('Bowlby One SC-Regular'),
    url('./files/bowlby-one-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bowlby-one-sc-latin-400.woff') format('woff'), /* Modern Browsers */
}

