
/* bowlby-one-sc-400normal - latin */
@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  src: url('./files/bowlby-one-sc-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Bowlby One SC Regular '), local('Bowlby One SC-Regular'),
       url('./files/bowlby-one-sc-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/bowlby-one-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/bowlby-one-sc-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/bowlby-one-sc-latin-400.svg#Bowlby One SC') format('svg'); /* Legacy iOS */
}
    