
/* bangers-400normal - latin */
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url('./files/bangers-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Bangers Regular '), local('Bangers-Regular'),
       url('./files/bangers-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/bangers-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/bangers-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/bangers-latin-400.svg#Bangers') format('svg'); /* Legacy iOS */
}
    