/* overlock-400normal - latin */
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Overlock Regular '),
    local('Overlock-Regular'),
    url('./files/overlock-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/overlock-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* overlock-400italic - latin */
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Overlock Regular italic'),
    local('Overlock-Regularitalic'),
    url('./files/overlock-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/overlock-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* overlock-700normal - latin */
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Overlock Bold '),
    local('Overlock-Bold'),
    url('./files/overlock-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/overlock-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* overlock-700italic - latin */
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Overlock Bold italic'),
    local('Overlock-Bolditalic'),
    url('./files/overlock-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/overlock-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

/* overlock-900normal - latin */
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Overlock Black '),
    local('Overlock-Black'),
    url('./files/overlock-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/overlock-latin-900.woff') format('woff'), /* Modern Browsers */
}

/* overlock-900italic - latin */
@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Overlock Black italic'),
    local('Overlock-Blackitalic'),
    url('./files/overlock-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/overlock-latin-900italic.woff') format('woff'), /* Modern Browsers */
}

