/* rasa-300normal - latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rasa Light '),
    local('Rasa-Light'),
    url('./files/rasa-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rasa-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* rasa-400normal - latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rasa Regular '),
    local('Rasa-Regular'),
    url('./files/rasa-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rasa-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* rasa-500normal - latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Rasa Medium '),
    local('Rasa-Medium'),
    url('./files/rasa-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rasa-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* rasa-600normal - latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Rasa SemiBold '),
    local('Rasa-SemiBold'),
    url('./files/rasa-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rasa-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* rasa-700normal - latin */
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rasa Bold '),
    local('Rasa-Bold'),
    url('./files/rasa-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rasa-latin-700.woff') format('woff'); /* Modern Browsers */
}

