/* eb-garamond-400normal - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('EB Garamond Regular '),
    local('EB Garamond-Regular'),
    url('./files/eb-garamond-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/eb-garamond-latin-400.woff') format('woff'); /* Modern Browsers */
}

