
/* bilbo-swash-caps-400normal - latin */
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: url('./files/bilbo-swash-caps-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Bilbo Swash Caps Regular '), local('Bilbo Swash Caps-Regular'),
       url('./files/bilbo-swash-caps-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/bilbo-swash-caps-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/bilbo-swash-caps-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/bilbo-swash-caps-latin-400.svg#Bilbo Swash Caps') format('svg'); /* Legacy iOS */
}
    