
/* waiting-for-the-sunrise-400normal - latin */
@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  src: url('./files/waiting-for-the-sunrise-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Waiting for the Sunrise Regular '), local('Waiting for the Sunrise-Regular'),
       url('./files/waiting-for-the-sunrise-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/waiting-for-the-sunrise-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/waiting-for-the-sunrise-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/waiting-for-the-sunrise-latin-400.svg#Waiting for the Sunrise') format('svg'); /* Legacy iOS */
}
    