/* vast-shadow-400normal - latin */
@font-face {
  font-family: 'Vast Shadow';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Vast Shadow Regular '),
    local('Vast Shadow-Regular'),
    url('./files/vast-shadow-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/vast-shadow-latin-400.woff') format('woff'); /* Modern Browsers */
}

