/* puritan-400normal - latin */
@font-face {
  font-family: 'Puritan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Puritan Regular '),
    local('Puritan-Regular'),
    url('./files/puritan-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/puritan-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* puritan-400italic - latin */
@font-face {
  font-family: 'Puritan';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Puritan Regular italic'),
    local('Puritan-Regularitalic'),
    url('./files/puritan-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/puritan-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* puritan-700normal - latin */
@font-face {
  font-family: 'Puritan';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Puritan Bold '),
    local('Puritan-Bold'),
    url('./files/puritan-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/puritan-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* puritan-700italic - latin */
@font-face {
  font-family: 'Puritan';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Puritan Bold italic'),
    local('Puritan-Bolditalic'),
    url('./files/puritan-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/puritan-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

