/* glegoo-400normal - latin */
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Glegoo Regular '),
    local('Glegoo-Regular'),
    url('./files/glegoo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/glegoo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* glegoo-700normal - latin */
@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Glegoo Bold '),
    local('Glegoo-Bold'),
    url('./files/glegoo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/glegoo-latin-700.woff') format('woff'); /* Modern Browsers */
}

