/* fira-mono-400normal - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Mono Regular '),
    local('Fira Mono-Regular'),
    url('./files/fira-mono-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-mono-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* fira-mono-500normal - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Mono Medium '),
    local('Fira Mono-Medium'),
    url('./files/fira-mono-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-mono-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* fira-mono-700normal - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Mono Bold '),
    local('Fira Mono-Bold'),
    url('./files/fira-mono-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-mono-latin-700.woff') format('woff'); /* Modern Browsers */
}

