/* share-tech-400normal - latin */
@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Share Tech Regular '),
    local('Share Tech-Regular'),
    url('./files/share-tech-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/share-tech-latin-400.woff') format('woff'); /* Modern Browsers */
}

