/* moulpali-400normal - latin */
@font-face {
  font-family: 'Moulpali';
  font-style: normal;
  font-weight: 400;
  src: url('./files/moulpali-khmer-400.eot'); /* IE9 Compat Modes */
  src:
    local('Moulpali Regular '),
    local('Moulpali-Regular'),
    url('./files/moulpali-khmer-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/moulpali-khmer-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/moulpali-khmer-400.woff') format('woff'), /* Modern Browsers */
    url('./files/moulpali-khmer-400.svg#Moulpali') format('svg'); /* Legacy iOS */
}

