/* mukta-vaani-200normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mukta Vaani Extra Light '),
    local('Mukta Vaani-Extra Light'),
    url('./files/mukta-vaani-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* mukta-vaani-300normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mukta Vaani Light '),
    local('Mukta Vaani-Light'),
    url('./files/mukta-vaani-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* mukta-vaani-400normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mukta Vaani Regular '),
    local('Mukta Vaani-Regular'),
    url('./files/mukta-vaani-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* mukta-vaani-500normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mukta Vaani Medium '),
    local('Mukta Vaani-Medium'),
    url('./files/mukta-vaani-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* mukta-vaani-600normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mukta Vaani SemiBold '),
    local('Mukta Vaani-SemiBold'),
    url('./files/mukta-vaani-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* mukta-vaani-700normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mukta Vaani Bold '),
    local('Mukta Vaani-Bold'),
    url('./files/mukta-vaani-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* mukta-vaani-800normal - latin */
@font-face {
  font-family: 'Mukta Vaani';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Mukta Vaani ExtraBold '),
    local('Mukta Vaani-ExtraBold'),
    url('./files/mukta-vaani-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mukta-vaani-latin-800.woff') format('woff'), /* Modern Browsers */
}

