/* clear-sans-100normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Clear Sans Thin normal'),
    local('Clear Sans-Thinnormal'),
    url('./files/clear-sans-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-100.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-300normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Clear Sans Light normal'),
    local('Clear Sans-Lightnormal'),
    url('./files/clear-sans-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-300.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-400normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Clear Sans Regular normal'),
    local('Clear Sans-Regularnormal'),
    url('./files/clear-sans-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-400.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-400italic - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Clear Sans Regular italic'),
    local('Clear Sans-Regularitalic'),
    url('./files/clear-sans-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-400italic.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-500normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Clear Sans Medium normal'),
    local('Clear Sans-Mediumnormal'),
    url('./files/clear-sans-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-500.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-500italic - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Clear Sans Medium italic'),
    local('Clear Sans-Mediumitalic'),
    url('./files/clear-sans-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-500italic.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-700normal - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Clear Sans Bold normal'),
    local('Clear Sans-Boldnormal'),
    url('./files/clear-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-700.woff') format('woff'); /* Modern Browsers */
}

/* clear-sans-700italic - latin */
@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Clear Sans Bold italic'),
    local('Clear Sans-Bolditalic'),
    url('./files/clear-sans-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/clear-sans-700italic.woff') format('woff'); /* Modern Browsers */
}

