/* spirax-400normal - latin */
@font-face {
  font-family: 'Spirax';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Spirax Regular '),
    local('Spirax-Regular'),
    url('./files/spirax-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spirax-latin-400.woff') format('woff'), /* Modern Browsers */
}

