/* kristi-400normal - latin */
@font-face {
  font-family: 'Kristi';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kristi Regular '),
    local('Kristi-Regular'),
    url('./files/kristi-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kristi-latin-400.woff') format('woff'), /* Modern Browsers */
}

