/* roboto-slab-100normal - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('./files/roboto-slab-latin-100.eot'); /* IE9 Compat Modes */
  src:
    local('Roboto Slab Thin '),
    local('Roboto Slab-Thin'),
    url('./files/roboto-slab-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/roboto-slab-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-slab-latin-100.woff') format('woff'), /* Modern Browsers */
    url('./files/roboto-slab-latin-100.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-300normal - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('./files/roboto-slab-latin-300.eot'); /* IE9 Compat Modes */
  src:
    local('Roboto Slab Light '),
    local('Roboto Slab-Light'),
    url('./files/roboto-slab-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/roboto-slab-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-slab-latin-300.woff') format('woff'), /* Modern Browsers */
    url('./files/roboto-slab-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-400normal - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('./files/roboto-slab-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Roboto Slab Regular '),
    local('Roboto Slab-Regular'),
    url('./files/roboto-slab-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/roboto-slab-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-slab-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/roboto-slab-latin-400.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700normal - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('./files/roboto-slab-latin-700.eot'); /* IE9 Compat Modes */
  src:
    local('Roboto Slab Bold '),
    local('Roboto Slab-Bold'),
    url('./files/roboto-slab-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/roboto-slab-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-slab-latin-700.woff') format('woff'), /* Modern Browsers */
    url('./files/roboto-slab-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

