/* port-lligat-slab-400normal - latin */
@font-face {
  font-family: 'Port Lligat Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Port Lligat Slab Regular '),
    local('Port Lligat Slab-Regular'),
    url('./files/port-lligat-slab-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/port-lligat-slab-latin-400.woff') format('woff'); /* Modern Browsers */
}

