/* prompt-100normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Prompt Thin '),
    local('Prompt-Thin'),
    url('./files/prompt-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* prompt-100italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Prompt Thin italic'),
    local('Prompt-Thinitalic'),
    url('./files/prompt-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-100italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-200normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Prompt Extra Light '),
    local('Prompt-Extra Light'),
    url('./files/prompt-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* prompt-200italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Prompt Extra Light italic'),
    local('Prompt-Extra Lightitalic'),
    url('./files/prompt-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-300normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Prompt Light '),
    local('Prompt-Light'),
    url('./files/prompt-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* prompt-300italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Prompt Light italic'),
    local('Prompt-Lightitalic'),
    url('./files/prompt-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-400normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Prompt Regular '),
    local('Prompt-Regular'),
    url('./files/prompt-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* prompt-400italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Prompt Regular italic'),
    local('Prompt-Regularitalic'),
    url('./files/prompt-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-500normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Prompt Medium '),
    local('Prompt-Medium'),
    url('./files/prompt-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* prompt-500italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Prompt Medium italic'),
    local('Prompt-Mediumitalic'),
    url('./files/prompt-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-600normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Prompt SemiBold '),
    local('Prompt-SemiBold'),
    url('./files/prompt-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* prompt-600italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Prompt SemiBold italic'),
    local('Prompt-SemiBolditalic'),
    url('./files/prompt-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-700normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Prompt Bold '),
    local('Prompt-Bold'),
    url('./files/prompt-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* prompt-700italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Prompt Bold italic'),
    local('Prompt-Bolditalic'),
    url('./files/prompt-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-800normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Prompt ExtraBold '),
    local('Prompt-ExtraBold'),
    url('./files/prompt-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* prompt-800italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Prompt ExtraBold italic'),
    local('Prompt-ExtraBolditalic'),
    url('./files/prompt-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

/* prompt-900normal - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Prompt Black '),
    local('Prompt-Black'),
    url('./files/prompt-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* prompt-900italic - latin */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Prompt Black italic'),
    local('Prompt-Blackitalic'),
    url('./files/prompt-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prompt-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

