
/* hind-madurai-300normal - latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 300;
  src: url('./files/hind-madurai-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Hind Madurai Light '), local('Hind Madurai-Light'),
       url('./files/hind-madurai-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/hind-madurai-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/hind-madurai-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./files/hind-madurai-latin-300.svg#Hind Madurai') format('svg'); /* Legacy iOS */
}
    
/* hind-madurai-400normal - latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  src: url('./files/hind-madurai-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Hind Madurai Regular '), local('Hind Madurai-Regular'),
       url('./files/hind-madurai-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/hind-madurai-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/hind-madurai-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/hind-madurai-latin-400.svg#Hind Madurai') format('svg'); /* Legacy iOS */
}
    
/* hind-madurai-500normal - latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  src: url('./files/hind-madurai-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Hind Madurai Medium '), local('Hind Madurai-Medium'),
       url('./files/hind-madurai-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/hind-madurai-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/hind-madurai-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/hind-madurai-latin-500.svg#Hind Madurai') format('svg'); /* Legacy iOS */
}
    
/* hind-madurai-600normal - latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  src: url('./files/hind-madurai-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Hind Madurai SemiBold '), local('Hind Madurai-SemiBold'),
       url('./files/hind-madurai-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/hind-madurai-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/hind-madurai-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./files/hind-madurai-latin-600.svg#Hind Madurai') format('svg'); /* Legacy iOS */
}
    
/* hind-madurai-700normal - latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  src: url('./files/hind-madurai-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Hind Madurai Bold '), local('Hind Madurai-Bold'),
       url('./files/hind-madurai-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/hind-madurai-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/hind-madurai-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/hind-madurai-latin-700.svg#Hind Madurai') format('svg'); /* Legacy iOS */
}
    