/* iceberg-400normal - latin */
@font-face {
  font-family: 'Iceberg';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Iceberg Regular '),
    local('Iceberg-Regular'),
    url('./files/iceberg-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/iceberg-latin-400.woff') format('woff'); /* Modern Browsers */
}

