/* telex-400normal - latin */
@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Telex Regular '),
    local('Telex-Regular'),
    url('./files/telex-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/telex-latin-400.woff') format('woff'), /* Modern Browsers */
}

