/* kreon-300normal - latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kreon Light '),
    local('Kreon-Light'),
    url('./files/kreon-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kreon-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* kreon-400normal - latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kreon Regular '),
    local('Kreon-Regular'),
    url('./files/kreon-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kreon-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* kreon-700normal - latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kreon Bold '),
    local('Kreon-Bold'),
    url('./files/kreon-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kreon-latin-700.woff') format('woff'), /* Modern Browsers */
}

