/* spicy-rice-400normal - latin */
@font-face {
  font-family: 'Spicy Rice';
  font-style: normal;
  font-weight: 400;
  src: url('./files/spicy-rice-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Spicy Rice Regular '),
    local('Spicy Rice-Regular'),
    url('./files/spicy-rice-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/spicy-rice-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/spicy-rice-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/spicy-rice-latin-400.svg#spicy-rice') format('svg'); /* Legacy iOS */
}

