/* baloo-tamma-400normal - latin */
@font-face {
  font-family: 'Baloo Tamma';
  font-style: normal;
  font-weight: 400;
  src: url('./files/baloo-tamma-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Baloo Tamma Regular '), local('Baloo Tamma-Regular'),
       url('./files/baloo-tamma-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/baloo-tamma-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/baloo-tamma-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/baloo-tamma-latin-400.svg#Baloo Tamma') format('svg'); /* Legacy iOS */
}
