
/* risque-400normal - latin */
@font-face {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  src: url('./files/risque-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Risque Regular '), local('Risque-Regular'),
       url('./files/risque-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/risque-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/risque-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/risque-latin-400.svg#Risque') format('svg'); /* Legacy iOS */
}
    