/* atomic-age-400normal - latin */
@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  src: url('./files/atomic-age-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Atomic Age Regular '), local('Atomic Age-Regular'),
       url('./files/atomic-age-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/atomic-age-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/atomic-age-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/atomic-age-latin-400.svg#Atomic Age') format('svg'); /* Legacy iOS */
}
