/* baloo-tammudu-400normal - latin */
@font-face {
  font-family: 'Baloo Tammudu';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Baloo Tammudu Regular '),
    local('Baloo Tammudu-Regular'),
    url('./files/baloo-tammudu-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/baloo-tammudu-latin-400.woff') format('woff'); /* Modern Browsers */
}

