/* economica-400normal - latin */
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Economica Regular '),
    local('Economica-Regular'),
    url('./files/economica-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/economica-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* economica-400italic - latin */
@font-face {
  font-family: 'Economica';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Economica Regular italic'),
    local('Economica-Regularitalic'),
    url('./files/economica-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/economica-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* economica-700normal - latin */
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Economica Bold '),
    local('Economica-Bold'),
    url('./files/economica-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/economica-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* economica-700italic - latin */
@font-face {
  font-family: 'Economica';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Economica Bold italic'),
    local('Economica-Bolditalic'),
    url('./files/economica-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/economica-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

