/* marcellus-400normal - latin */
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Marcellus Regular '),
    local('Marcellus-Regular'),
    url('./files/marcellus-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/marcellus-latin-400.woff') format('woff'), /* Modern Browsers */
}

