/* kavoon-400normal - latin */
@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  src: url('./files/kavoon-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Kavoon Regular '),
    local('Kavoon-Regular'),
    url('./files/kavoon-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/kavoon-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kavoon-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/kavoon-latin-400.svg#Kavoon') format('svg'); /* Legacy iOS */
}

