/* kanit-100normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Kanit Thin '),
    local('Kanit-Thin'),
    url('./files/kanit-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* kanit-100italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Kanit Thin italic'),
    local('Kanit-Thinitalic'),
    url('./files/kanit-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-100italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-200normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kanit Extra Light '),
    local('Kanit-Extra Light'),
    url('./files/kanit-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* kanit-200italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Kanit Extra Light italic'),
    local('Kanit-Extra Lightitalic'),
    url('./files/kanit-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-300normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kanit Light '),
    local('Kanit-Light'),
    url('./files/kanit-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* kanit-300italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kanit Light italic'),
    local('Kanit-Lightitalic'),
    url('./files/kanit-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-400normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kanit Regular '),
    local('Kanit-Regular'),
    url('./files/kanit-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* kanit-400italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kanit Regular italic'),
    local('Kanit-Regularitalic'),
    url('./files/kanit-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-500normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kanit Medium '),
    local('Kanit-Medium'),
    url('./files/kanit-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* kanit-500italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Kanit Medium italic'),
    local('Kanit-Mediumitalic'),
    url('./files/kanit-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-600normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kanit SemiBold '),
    local('Kanit-SemiBold'),
    url('./files/kanit-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* kanit-600italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Kanit SemiBold italic'),
    local('Kanit-SemiBolditalic'),
    url('./files/kanit-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-700normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kanit Bold '),
    local('Kanit-Bold'),
    url('./files/kanit-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* kanit-700italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kanit Bold italic'),
    local('Kanit-Bolditalic'),
    url('./files/kanit-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-800normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Kanit ExtraBold '),
    local('Kanit-ExtraBold'),
    url('./files/kanit-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* kanit-800italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Kanit ExtraBold italic'),
    local('Kanit-ExtraBolditalic'),
    url('./files/kanit-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

/* kanit-900normal - latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Kanit Black '),
    local('Kanit-Black'),
    url('./files/kanit-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* kanit-900italic - latin */
@font-face {
  font-family: 'Kanit';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Kanit Black italic'),
    local('Kanit-Blackitalic'),
    url('./files/kanit-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kanit-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

