/* jacques-francois-shadow-400normal - latin */
@font-face {
  font-family: 'Jacques Francois Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('./files/jacques-francois-shadow-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Jacques Francois Shadow Regular '),
    local('Jacques Francois Shadow-Regular'),
    url('./files/jacques-francois-shadow-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/jacques-francois-shadow-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jacques-francois-shadow-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/jacques-francois-shadow-latin-400.svg#JacquesFrancoisShadow') format('svg'); /* Legacy iOS */
}

