/* fresca-400normal - latin */
@font-face {
  font-family: 'Fresca';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fresca Regular '),
    local('Fresca-Regular'),
    url('./files/fresca-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fresca-latin-400.woff') format('woff'); /* Modern Browsers */
}

