/* encode-sans-condensed-100normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Encode Sans Condensed Thin '),
    local('Encode Sans Condensed-Thin'),
    url('./files/encode-sans-condensed-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-200normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Encode Sans Condensed Extra Light '),
    local('Encode Sans Condensed-Extra Light'),
    url('./files/encode-sans-condensed-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-300normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Encode Sans Condensed Light '),
    local('Encode Sans Condensed-Light'),
    url('./files/encode-sans-condensed-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-400normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Encode Sans Condensed Regular '),
    local('Encode Sans Condensed-Regular'),
    url('./files/encode-sans-condensed-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-500normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Encode Sans Condensed Medium '),
    local('Encode Sans Condensed-Medium'),
    url('./files/encode-sans-condensed-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-600normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Encode Sans Condensed SemiBold '),
    local('Encode Sans Condensed-SemiBold'),
    url('./files/encode-sans-condensed-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-700normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Encode Sans Condensed Bold '),
    local('Encode Sans Condensed-Bold'),
    url('./files/encode-sans-condensed-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-800normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Encode Sans Condensed ExtraBold '),
    local('Encode Sans Condensed-ExtraBold'),
    url('./files/encode-sans-condensed-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* encode-sans-condensed-900normal - latin */
@font-face {
  font-family: 'Encode Sans Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Encode Sans Condensed Black '),
    local('Encode Sans Condensed-Black'),
    url('./files/encode-sans-condensed-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/encode-sans-condensed-latin-900.woff') format('woff'); /* Modern Browsers */
}

