/* mada-200normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mada Extra Light '),
    local('Mada-Extra Light'),
    url('./files/mada-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* mada-300normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mada Light '),
    local('Mada-Light'),
    url('./files/mada-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* mada-400normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mada Regular '),
    local('Mada-Regular'),
    url('./files/mada-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* mada-500normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mada Medium '),
    local('Mada-Medium'),
    url('./files/mada-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* mada-600normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mada SemiBold '),
    local('Mada-SemiBold'),
    url('./files/mada-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* mada-700normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mada Bold '),
    local('Mada-Bold'),
    url('./files/mada-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* mada-900normal - latin */
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Mada Black '),
    local('Mada-Black'),
    url('./files/mada-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mada-latin-900.woff') format('woff'); /* Modern Browsers */
}

