
/* sahitya-400normal - latin */
@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 400;
  src: url('./files/sahitya-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Sahitya Regular '), local('Sahitya-Regular'),
       url('./files/sahitya-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/sahitya-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/sahitya-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/sahitya-latin-400.svg#Sahitya') format('svg'); /* Legacy iOS */
}
    
/* sahitya-700normal - latin */
@font-face {
  font-family: 'Sahitya';
  font-style: normal;
  font-weight: 700;
  src: url('./files/sahitya-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Sahitya Bold '), local('Sahitya-Bold'),
       url('./files/sahitya-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/sahitya-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/sahitya-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/sahitya-latin-700.svg#Sahitya') format('svg'); /* Legacy iOS */
}
    