/* mitr-200normal - latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Mitr Extra Light '),
    local('Mitr-Extra Light'),
    url('./files/mitr-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mitr-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* mitr-300normal - latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Mitr Light '),
    local('Mitr-Light'),
    url('./files/mitr-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mitr-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* mitr-400normal - latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mitr Regular '),
    local('Mitr-Regular'),
    url('./files/mitr-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mitr-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* mitr-500normal - latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Mitr Medium '),
    local('Mitr-Medium'),
    url('./files/mitr-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mitr-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* mitr-600normal - latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Mitr SemiBold '),
    local('Mitr-SemiBold'),
    url('./files/mitr-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mitr-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* mitr-700normal - latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Mitr Bold '),
    local('Mitr-Bold'),
    url('./files/mitr-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mitr-latin-700.woff') format('woff'); /* Modern Browsers */
}

