/* red-hat-text-400normal - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Red Hat Text Regular '),
    local('Red Hat Text-Regular'),
    url('./files/red-hat-text-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/red-hat-text-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* red-hat-text-400italic - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Red Hat Text Regular italic'),
    local('Red Hat Text-Regularitalic'),
    url('./files/red-hat-text-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/red-hat-text-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* red-hat-text-500normal - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Red Hat Text Medium '),
    local('Red Hat Text-Medium'),
    url('./files/red-hat-text-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/red-hat-text-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* red-hat-text-500italic - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Red Hat Text Medium italic'),
    local('Red Hat Text-Mediumitalic'),
    url('./files/red-hat-text-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/red-hat-text-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* red-hat-text-700normal - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Red Hat Text Bold '),
    local('Red Hat Text-Bold'),
    url('./files/red-hat-text-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/red-hat-text-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* red-hat-text-700italic - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Red Hat Text Bold italic'),
    local('Red Hat Text-Bolditalic'),
    url('./files/red-hat-text-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/red-hat-text-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

