
/* goudy-bookletter-1911-400normal - latin */
@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: 400;
  src: url('./files/goudy-bookletter-1911-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Goudy Bookletter 1911 Regular '), local('Goudy Bookletter 1911-Regular'),
       url('./files/goudy-bookletter-1911-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/goudy-bookletter-1911-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/goudy-bookletter-1911-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/goudy-bookletter-1911-latin-400.svg#Goudy Bookletter 1911') format('svg'); /* Legacy iOS */
}
    