/* holtwood-one-sc-400normal - latin */
@font-face {
  font-family: 'Holtwood One SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Holtwood One SC Regular '),
    local('Holtwood One SC-Regular'),
    url('./files/holtwood-one-sc-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/holtwood-one-sc-latin-400.woff') format('woff'); /* Modern Browsers */
}

