/* martel-200normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Martel Extra Light '),
    local('Martel-Extra Light'),
    url('./files/martel-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* martel-300normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Martel Light '),
    local('Martel-Light'),
    url('./files/martel-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* martel-400normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Martel Regular '),
    local('Martel-Regular'),
    url('./files/martel-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* martel-600normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Martel SemiBold '),
    local('Martel-SemiBold'),
    url('./files/martel-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* martel-700normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Martel Bold '),
    local('Martel-Bold'),
    url('./files/martel-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* martel-800normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Martel ExtraBold '),
    local('Martel-ExtraBold'),
    url('./files/martel-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* martel-900normal - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Martel Black '),
    local('Martel-Black'),
    url('./files/martel-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-latin-900.woff') format('woff'), /* Modern Browsers */
}

