/* inder-400normal - latin */
@font-face {
  font-family: 'Inder';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Inder Regular '),
    local('Inder-Regular'),
    url('./files/inder-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inder-latin-400.woff') format('woff'), /* Modern Browsers */
}

