/* exo-100normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Exo Thin '),
    local('Exo-Thin'),
    url('./files/exo-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* exo-100italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Exo Thin italic'),
    local('Exo-Thinitalic'),
    url('./files/exo-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-100italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-200normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Exo Extra Light '),
    local('Exo-Extra Light'),
    url('./files/exo-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* exo-200italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Exo Extra Light italic'),
    local('Exo-Extra Lightitalic'),
    url('./files/exo-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-300normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Exo Light '),
    local('Exo-Light'),
    url('./files/exo-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* exo-300italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Exo Light italic'),
    local('Exo-Lightitalic'),
    url('./files/exo-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-400normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Exo Regular '),
    local('Exo-Regular'),
    url('./files/exo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* exo-400italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Exo Regular italic'),
    local('Exo-Regularitalic'),
    url('./files/exo-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-500normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Exo Medium '),
    local('Exo-Medium'),
    url('./files/exo-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* exo-500italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Exo Medium italic'),
    local('Exo-Mediumitalic'),
    url('./files/exo-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-600normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Exo SemiBold '),
    local('Exo-SemiBold'),
    url('./files/exo-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* exo-600italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Exo SemiBold italic'),
    local('Exo-SemiBolditalic'),
    url('./files/exo-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-700normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Exo Bold '),
    local('Exo-Bold'),
    url('./files/exo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* exo-700italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Exo Bold italic'),
    local('Exo-Bolditalic'),
    url('./files/exo-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-800normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Exo ExtraBold '),
    local('Exo-ExtraBold'),
    url('./files/exo-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* exo-800italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Exo ExtraBold italic'),
    local('Exo-ExtraBolditalic'),
    url('./files/exo-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

/* exo-900normal - latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Exo Black '),
    local('Exo-Black'),
    url('./files/exo-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* exo-900italic - latin */
@font-face {
  font-family: 'Exo';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Exo Black italic'),
    local('Exo-Blackitalic'),
    url('./files/exo-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

