/* manrope-200normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Manrope Extra Light '),
    local('Manrope-Extra Light'),
    url('./files/manrope-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* manrope-300normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Manrope Light '),
    local('Manrope-Light'),
    url('./files/manrope-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* manrope-400normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manrope Regular '),
    local('Manrope-Regular'),
    url('./files/manrope-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* manrope-500normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manrope Medium '),
    local('Manrope-Medium'),
    url('./files/manrope-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* manrope-600normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manrope SemiBold '),
    local('Manrope-SemiBold'),
    url('./files/manrope-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* manrope-700normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manrope Bold '),
    local('Manrope-Bold'),
    url('./files/manrope-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* manrope-800normal - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Manrope ExtraBold '),
    local('Manrope-ExtraBold'),
    url('./files/manrope-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manrope-latin-800.woff') format('woff'); /* Modern Browsers */
}

