/* megrim-400normal - latin */
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Megrim Regular '),
    local('Megrim-Regular'),
    url('./files/megrim-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/megrim-latin-400.woff') format('woff'); /* Modern Browsers */
}

