/* lateef-400normal - latin */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: url('./files/lateef-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Lateef Regular '),
    local('Lateef-Regular'),
    url('./files/lateef-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/lateef-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lateef-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/lateef-latin-400.svg#Lateef') format('svg'); /* Legacy iOS */
}

