/* cabin-condensed-400normal - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cabin Condensed Regular '),
    local('Cabin Condensed-Regular'),
    url('./files/cabin-condensed-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cabin-condensed-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* cabin-condensed-500normal - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cabin Condensed Medium '),
    local('Cabin Condensed-Medium'),
    url('./files/cabin-condensed-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cabin-condensed-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* cabin-condensed-600normal - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cabin Condensed SemiBold '),
    local('Cabin Condensed-SemiBold'),
    url('./files/cabin-condensed-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cabin-condensed-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* cabin-condensed-700normal - latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cabin Condensed Bold '),
    local('Cabin Condensed-Bold'),
    url('./files/cabin-condensed-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cabin-condensed-latin-700.woff') format('woff'); /* Modern Browsers */
}

