
/* magra-400normal - latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: url('./files/magra-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Magra Regular '), local('Magra-Regular'),
       url('./files/magra-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/magra-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/magra-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/magra-latin-400.svg#Magra') format('svg'); /* Legacy iOS */
}
    
/* magra-700normal - latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 700;
  src: url('./files/magra-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Magra Bold '), local('Magra-Bold'),
       url('./files/magra-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/magra-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/magra-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/magra-latin-700.svg#Magra') format('svg'); /* Legacy iOS */
}
    