/* chenla-400normal - latin */
@font-face {
  font-family: 'Chenla';
  font-style: normal;
  font-weight: 400;
  src: url('./files/chenla-khmer-400.eot'); /* IE9 Compat Modes */
  src:
    local('Chenla Regular '),
    local('Chenla-Regular'),
    url('./files/chenla-khmer-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/chenla-khmer-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/chenla-khmer-400.woff') format('woff'), /* Modern Browsers */
    url('./files/chenla-khmer-400.svg#chenla') format('svg'); /* Legacy iOS */
}

