/* anton-400normal - latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('./files/anton-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Anton Regular '),
    local('Anton-Regular'),
    url('./files/anton-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/anton-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/anton-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/anton-latin-400.svg#Anton') format('svg'); /* Legacy iOS */
}

