/* faustina-400normal - latin */
@font-face {
  font-family: 'Faustina';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Faustina Regular '),
    local('Faustina-Regular'),
    url('./files/faustina-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* faustina-400italic - latin */
@font-face {
  font-family: 'Faustina';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Faustina Regular italic'),
    local('Faustina-Regularitalic'),
    url('./files/faustina-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* faustina-500normal - latin */
@font-face {
  font-family: 'Faustina';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Faustina Medium '),
    local('Faustina-Medium'),
    url('./files/faustina-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* faustina-500italic - latin */
@font-face {
  font-family: 'Faustina';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Faustina Medium italic'),
    local('Faustina-Mediumitalic'),
    url('./files/faustina-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* faustina-600normal - latin */
@font-face {
  font-family: 'Faustina';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Faustina SemiBold '),
    local('Faustina-SemiBold'),
    url('./files/faustina-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* faustina-600italic - latin */
@font-face {
  font-family: 'Faustina';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Faustina SemiBold italic'),
    local('Faustina-SemiBolditalic'),
    url('./files/faustina-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* faustina-700normal - latin */
@font-face {
  font-family: 'Faustina';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Faustina Bold '),
    local('Faustina-Bold'),
    url('./files/faustina-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* faustina-700italic - latin */
@font-face {
  font-family: 'Faustina';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Faustina Bold italic'),
    local('Faustina-Bolditalic'),
    url('./files/faustina-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/faustina-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

