
/* eczar-400normal - latin */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: url('./files/eczar-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Eczar Regular '), local('Eczar-Regular'),
       url('./files/eczar-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/eczar-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/eczar-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/eczar-latin-400.svg#Eczar') format('svg'); /* Legacy iOS */
}
    
/* eczar-600normal - latin */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 600;
  src: url('./files/eczar-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Eczar SemiBold '), local('Eczar-SemiBold'),
       url('./files/eczar-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/eczar-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/eczar-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./files/eczar-latin-600.svg#Eczar') format('svg'); /* Legacy iOS */
}
    
/* eczar-700normal - latin */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: url('./files/eczar-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Eczar Bold '), local('Eczar-Bold'),
       url('./files/eczar-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/eczar-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/eczar-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/eczar-latin-700.svg#Eczar') format('svg'); /* Legacy iOS */
}
    
/* eczar-800normal - latin */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: url('./files/eczar-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Eczar ExtraBold '), local('Eczar-ExtraBold'),
       url('./files/eczar-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/eczar-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/eczar-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./files/eczar-latin-800.svg#Eczar') format('svg'); /* Legacy iOS */
}
    
/* eczar-500normal - latin */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 500;
  src: url('./files/eczar-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Eczar Medium '), local('Eczar-Medium'),
       url('./files/eczar-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/eczar-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/eczar-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/eczar-latin-500.svg#Eczar') format('svg'); /* Legacy iOS */
}
    