/* droid-serif-400normal - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Droid Serif Regular '),
    local('Droid Serif-Regular'),
    url('./files/droid-serif-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/droid-serif-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* droid-serif-400italic - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Droid Serif Regular italic'),
    local('Droid Serif-Regularitalic'),
    url('./files/droid-serif-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/droid-serif-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* droid-serif-700normal - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Droid Serif Bold '),
    local('Droid Serif-Bold'),
    url('./files/droid-serif-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/droid-serif-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* droid-serif-700italic - latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Droid Serif Bold italic'),
    local('Droid Serif-Bolditalic'),
    url('./files/droid-serif-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/droid-serif-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

