/* euphoria-script-400normal - latin */
@font-face {
  font-family: 'Euphoria Script';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Euphoria Script Regular '),
    local('Euphoria Script-Regular'),
    url('./files/euphoria-script-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/euphoria-script-latin-400.woff') format('woff'), /* Modern Browsers */
}

