/* cedarville-cursive-400normal - latin */
@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cedarville Cursive Regular '),
    local('Cedarville Cursive-Regular'),
    url('./files/cedarville-cursive-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cedarville-cursive-latin-400.woff') format('woff'), /* Modern Browsers */
}

