/* graduate-400normal - latin */
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Graduate Regular '),
    local('Graduate-Regular'),
    url('./files/graduate-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/graduate-latin-400.woff') format('woff'), /* Modern Browsers */
}

