/* viga-400normal - latin */
@font-face {
  font-family: 'Viga';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Viga Regular '),
    local('Viga-Regular'),
    url('./files/viga-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/viga-latin-400.woff') format('woff'), /* Modern Browsers */
}

