/* unna-400normal - latin */
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Unna Regular '),
    local('Unna-Regular'),
    url('./files/unna-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/unna-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* unna-400italic - latin */
@font-face {
  font-family: 'Unna';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Unna Regular italic'),
    local('Unna-Regularitalic'),
    url('./files/unna-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/unna-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* unna-700normal - latin */
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Unna Bold '),
    local('Unna-Bold'),
    url('./files/unna-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/unna-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* unna-700italic - latin */
@font-face {
  font-family: 'Unna';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Unna Bold italic'),
    local('Unna-Bolditalic'),
    url('./files/unna-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/unna-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

