/* sirin-stencil-400normal - latin */
@font-face {
  font-family: 'Sirin Stencil';
  font-style: normal;
  font-weight: 400;
  src: url('./files/sirin-stencil-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Sirin Stencil Regular '),
    local('Sirin Stencil-Regular'),
    url('./files/sirin-stencil-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/sirin-stencil-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sirin-stencil-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/sirin-stencil-latin-400.svg#SirinStencil') format('svg'); /* Legacy iOS */
}

