
/* mystery-quest-400normal - latin */
@font-face {
  font-family: 'Mystery Quest';
  font-style: normal;
  font-weight: 400;
  src: url('./files/mystery-quest-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Mystery Quest Regular '), local('Mystery Quest-Regular'),
       url('./files/mystery-quest-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/mystery-quest-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/mystery-quest-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/mystery-quest-latin-400.svg#Mystery Quest') format('svg'); /* Legacy iOS */
}
    