/* bellefair-400normal - latin */
@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Bellefair Regular '),
    local('Bellefair-Regular'),
    url('./files/bellefair-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/bellefair-latin-400.woff') format('woff'); /* Modern Browsers */
}

