/* literata-200normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Literata Extra Light '),
    local('Literata-Extra Light'),
    url('./files/literata-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* literata-200italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Literata Extra Light italic'),
    local('Literata-Extra Lightitalic'),
    url('./files/literata-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-300normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Literata Light '),
    local('Literata-Light'),
    url('./files/literata-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* literata-300italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Literata Light italic'),
    local('Literata-Lightitalic'),
    url('./files/literata-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-400normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Literata Regular '),
    local('Literata-Regular'),
    url('./files/literata-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* literata-400italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Literata Regular italic'),
    local('Literata-Regularitalic'),
    url('./files/literata-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-500normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Literata Medium '),
    local('Literata-Medium'),
    url('./files/literata-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* literata-500italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Literata Medium italic'),
    local('Literata-Mediumitalic'),
    url('./files/literata-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-500italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-600normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Literata SemiBold '),
    local('Literata-SemiBold'),
    url('./files/literata-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* literata-600italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Literata SemiBold italic'),
    local('Literata-SemiBolditalic'),
    url('./files/literata-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-700normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Literata Bold '),
    local('Literata-Bold'),
    url('./files/literata-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* literata-700italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Literata Bold italic'),
    local('Literata-Bolditalic'),
    url('./files/literata-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-800normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Literata ExtraBold '),
    local('Literata-ExtraBold'),
    url('./files/literata-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* literata-800italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Literata ExtraBold italic'),
    local('Literata-ExtraBolditalic'),
    url('./files/literata-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

/* literata-900normal - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Literata Black '),
    local('Literata-Black'),
    url('./files/literata-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* literata-900italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Literata Black italic'),
    local('Literata-Blackitalic'),
    url('./files/literata-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

