/* blinker-100normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Blinker Thin '),
    local('Blinker-Thin'),
    url('./files/blinker-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* blinker-200normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Blinker Extra Light '),
    local('Blinker-Extra Light'),
    url('./files/blinker-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* blinker-300normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Blinker Light '),
    local('Blinker-Light'),
    url('./files/blinker-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* blinker-400normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Blinker Regular '),
    local('Blinker-Regular'),
    url('./files/blinker-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* blinker-600normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Blinker SemiBold '),
    local('Blinker-SemiBold'),
    url('./files/blinker-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* blinker-700normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Blinker Bold '),
    local('Blinker-Bold'),
    url('./files/blinker-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* blinker-800normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Blinker ExtraBold '),
    local('Blinker-ExtraBold'),
    url('./files/blinker-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* blinker-900normal - latin */
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Blinker Black '),
    local('Blinker-Black'),
    url('./files/blinker-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/blinker-latin-900.woff') format('woff'); /* Modern Browsers */
}

