/* gfs-neohellenic-400normal - latin */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('GFS Neohellenic Regular '),
    local('GFS Neohellenic-Regular'),
    url('./files/gfs-neohellenic-greek-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gfs-neohellenic-greek-400.woff') format('woff'), /* Modern Browsers */
}

/* gfs-neohellenic-400italic - latin */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('GFS Neohellenic Regular italic'),
    local('GFS Neohellenic-Regularitalic'),
    url('./files/gfs-neohellenic-greek-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gfs-neohellenic-greek-400italic.woff') format('woff'), /* Modern Browsers */
}

/* gfs-neohellenic-700normal - latin */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('GFS Neohellenic Bold '),
    local('GFS Neohellenic-Bold'),
    url('./files/gfs-neohellenic-greek-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gfs-neohellenic-greek-700.woff') format('woff'), /* Modern Browsers */
}

/* gfs-neohellenic-700italic - latin */
@font-face {
  font-family: 'GFS Neohellenic';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('GFS Neohellenic Bold italic'),
    local('GFS Neohellenic-Bolditalic'),
    url('./files/gfs-neohellenic-greek-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gfs-neohellenic-greek-700italic.woff') format('woff'), /* Modern Browsers */
}

