/* annie-use-your-telescope-400normal - latin */
@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: url('./files/annie-use-your-telescope-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Annie Use Your Telescope Regular '),
    local('Annie Use Your Telescope-Regular'),
    url('./files/annie-use-your-telescope-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/annie-use-your-telescope-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/annie-use-your-telescope-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/annie-use-your-telescope-latin-400.svg#AnnieUseYourTelescope') format('svg'); /* Legacy iOS */
}

