
/* la-belle-aurore-400normal - latin */
@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: url('./files/la-belle-aurore-latin-400.eot'); /* IE9 Compat Modes */
  src: local('La Belle Aurore Regular '), local('La Belle Aurore-Regular'),
       url('./files/la-belle-aurore-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/la-belle-aurore-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/la-belle-aurore-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/la-belle-aurore-latin-400.svg#La Belle Aurore') format('svg'); /* Legacy iOS */
}
    