/* molle-400italic - latin */
@font-face {
  font-family: 'Molle';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Molle Regular italic'),
    local('Molle-Regularitalic'),
    url('./files/molle-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/molle-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

