/* niconne-400normal - latin */
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  src: url('./files/niconne-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Niconne Regular '),
    local('Niconne-Regular'),
    url('./files/niconne-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/niconne-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/niconne-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/niconne-latin-400.svg#niconne') format('svg'); /* Legacy iOS */
}

