
/* lekton-400normal - latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url('./files/lekton-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Lekton Regular '), local('Lekton-Regular'),
       url('./files/lekton-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/lekton-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/lekton-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/lekton-latin-400.svg#Lekton') format('svg'); /* Legacy iOS */
}
    
/* lekton-400italic - latin */
@font-face {
  font-family: 'Lekton';
  font-style: italic;
  font-weight: 400;
  src: url('./files/lekton-latin-400italic.eot'); /* IE9 Compat Modes */
  src: local('Lekton Regular italic'), local('Lekton-Regularitalic'),
       url('./files/lekton-latin-400italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/lekton-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/lekton-latin-400italic.woff') format('woff'), /* Modern Browsers */
       url('./files/lekton-latin-400italic.svg#Lekton') format('svg'); /* Legacy iOS */
}
    
/* lekton-700normal - latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 700;
  src: url('./files/lekton-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lekton Bold '), local('Lekton-Bold'),
       url('./files/lekton-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/lekton-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/lekton-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/lekton-latin-700.svg#Lekton') format('svg'); /* Legacy iOS */
}
    