/* teko-300normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: url('./files/teko-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Teko Light '), local('Teko-Light'),
       url('./files/teko-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/teko-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/teko-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./files/teko-latin-300.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-400normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('./files/teko-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Teko Regular '), local('Teko-Regular'),
       url('./files/teko-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/teko-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/teko-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/teko-latin-400.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-500normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  src: url('./files/teko-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Teko Medium '), local('Teko-Medium'),
       url('./files/teko-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/teko-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/teko-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/teko-latin-500.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-600normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  src: url('./files/teko-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Teko SemiBold '), local('Teko-SemiBold'),
       url('./files/teko-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/teko-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/teko-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./files/teko-latin-600.svg#Teko') format('svg'); /* Legacy iOS */
}
/* teko-700normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  src: url('./files/teko-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Teko Bold '), local('Teko-Bold'),
       url('./files/teko-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/teko-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/teko-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/teko-latin-700.svg#Teko') format('svg'); /* Legacy iOS */
}
