/* teko-300normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Teko Light '),
    local('Teko-Light'),
    url('./files/teko-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/teko-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* teko-400normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Teko Regular '),
    local('Teko-Regular'),
    url('./files/teko-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/teko-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* teko-500normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Teko Medium '),
    local('Teko-Medium'),
    url('./files/teko-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/teko-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* teko-600normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Teko SemiBold '),
    local('Teko-SemiBold'),
    url('./files/teko-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/teko-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* teko-700normal - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Teko Bold '),
    local('Teko-Bold'),
    url('./files/teko-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/teko-latin-700.woff') format('woff'), /* Modern Browsers */
}

