/* reem-kufi-400normal - latin */
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('./files/reem-kufi-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Reem Kufi Regular '),
    local('Reem Kufi-Regular'),
    url('./files/reem-kufi-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/reem-kufi-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/reem-kufi-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/reem-kufi-latin-400.svg#reem-kufi') format('svg'); /* Legacy iOS */
}

