/* libre-franklin-100normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Libre Franklin Thin '),
    local('Libre Franklin-Thin'),
    url('./files/libre-franklin-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-100.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-100italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Libre Franklin Thin italic'),
    local('Libre Franklin-Thinitalic'),
    url('./files/libre-franklin-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-100italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-200normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Libre Franklin Extra Light '),
    local('Libre Franklin-Extra Light'),
    url('./files/libre-franklin-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-200.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-200italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Libre Franklin Extra Light italic'),
    local('Libre Franklin-Extra Lightitalic'),
    url('./files/libre-franklin-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-200italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-300normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Libre Franklin Light '),
    local('Libre Franklin-Light'),
    url('./files/libre-franklin-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-300italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Libre Franklin Light italic'),
    local('Libre Franklin-Lightitalic'),
    url('./files/libre-franklin-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-300italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-400normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Franklin Regular '),
    local('Libre Franklin-Regular'),
    url('./files/libre-franklin-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-400italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Franklin Regular italic'),
    local('Libre Franklin-Regularitalic'),
    url('./files/libre-franklin-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-500normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Libre Franklin Medium '),
    local('Libre Franklin-Medium'),
    url('./files/libre-franklin-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-500italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Libre Franklin Medium italic'),
    local('Libre Franklin-Mediumitalic'),
    url('./files/libre-franklin-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-500italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-600normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Libre Franklin SemiBold '),
    local('Libre Franklin-SemiBold'),
    url('./files/libre-franklin-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-600italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Libre Franklin SemiBold italic'),
    local('Libre Franklin-SemiBolditalic'),
    url('./files/libre-franklin-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-600italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-700normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Libre Franklin Bold '),
    local('Libre Franklin-Bold'),
    url('./files/libre-franklin-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-700italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Libre Franklin Bold italic'),
    local('Libre Franklin-Bolditalic'),
    url('./files/libre-franklin-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-800normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Libre Franklin ExtraBold '),
    local('Libre Franklin-ExtraBold'),
    url('./files/libre-franklin-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-800italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Libre Franklin ExtraBold italic'),
    local('Libre Franklin-ExtraBolditalic'),
    url('./files/libre-franklin-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-800italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-900normal - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Libre Franklin Black '),
    local('Libre Franklin-Black'),
    url('./files/libre-franklin-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-900.woff') format('woff'), /* Modern Browsers */
}

/* libre-franklin-900italic - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Libre Franklin Black italic'),
    local('Libre Franklin-Blackitalic'),
    url('./files/libre-franklin-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-franklin-latin-900italic.woff') format('woff'), /* Modern Browsers */
}

