/* cantarell-400normal - latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cantarell Regular '),
    local('Cantarell-Regular'),
    url('./files/cantarell-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cantarell-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* cantarell-400italic - latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cantarell Regular italic'),
    local('Cantarell-Regularitalic'),
    url('./files/cantarell-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cantarell-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* cantarell-700normal - latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cantarell Bold '),
    local('Cantarell-Bold'),
    url('./files/cantarell-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cantarell-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* cantarell-700italic - latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cantarell Bold italic'),
    local('Cantarell-Bolditalic'),
    url('./files/cantarell-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cantarell-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

