/* jaldi-400normal - latin */
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Jaldi Regular '),
    local('Jaldi-Regular'),
    url('./files/jaldi-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jaldi-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* jaldi-700normal - latin */
@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Jaldi Bold '),
    local('Jaldi-Bold'),
    url('./files/jaldi-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jaldi-latin-700.woff') format('woff'); /* Modern Browsers */
}

