/* crushed-400normal - latin */
@font-face {
  font-family: 'Crushed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Crushed Regular '),
    local('Crushed-Regular'),
    url('./files/crushed-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/crushed-latin-400.woff') format('woff'), /* Modern Browsers */
}

