/* gugi-400normal - latin */
@font-face {
  font-family: 'Gugi';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Gugi Regular '),
    local('Gugi-Regular'),
    url('./files/gugi-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gugi-latin-400.woff') format('woff'); /* Modern Browsers */
}

