/* jura-300normal - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Jura Light '),
    local('Jura-Light'),
    url('./files/jura-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jura-latin-300.woff') format('woff'), /* Modern Browsers */
}

/* jura-400normal - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Jura Regular '),
    local('Jura-Regular'),
    url('./files/jura-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jura-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* jura-500normal - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Jura Medium '),
    local('Jura-Medium'),
    url('./files/jura-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jura-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* jura-600normal - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Jura SemiBold '),
    local('Jura-SemiBold'),
    url('./files/jura-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jura-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* jura-700normal - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Jura Bold '),
    local('Jura-Bold'),
    url('./files/jura-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jura-latin-700.woff') format('woff'), /* Modern Browsers */
}

