/* mate-400normal - latin */
@font-face {
  font-family: 'Mate';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mate Regular '),
    local('Mate-Regular'),
    url('./files/mate-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mate-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* mate-400italic - latin */
@font-face {
  font-family: 'Mate';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Mate Regular italic'),
    local('Mate-Regularitalic'),
    url('./files/mate-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mate-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

