/* barrio-400normal - latin */
@font-face {
  font-family: 'Barrio';
  font-style: normal;
  font-weight: 400;
  src: url('./files/barrio-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Barrio Regular '), local('Barrio-Regular'),
       url('./files/barrio-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/barrio-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/barrio-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/barrio-latin-400.svg#Barrio') format('svg'); /* Legacy iOS */
}
