/* noto-sans-kr-100normal - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Noto Sans KR Thin '),
    local('Noto Sans KR-Thin'),
    url('./files/noto-sans-kr-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-sans-kr-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* noto-sans-kr-300normal - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Sans KR Light '),
    local('Noto Sans KR-Light'),
    url('./files/noto-sans-kr-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-sans-kr-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* noto-sans-kr-400normal - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Sans KR Regular '),
    local('Noto Sans KR-Regular'),
    url('./files/noto-sans-kr-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-sans-kr-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* noto-sans-kr-500normal - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Sans KR Medium '),
    local('Noto Sans KR-Medium'),
    url('./files/noto-sans-kr-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-sans-kr-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* noto-sans-kr-700normal - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Sans KR Bold '),
    local('Noto Sans KR-Bold'),
    url('./files/noto-sans-kr-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-sans-kr-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* noto-sans-kr-900normal - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Sans KR Black '),
    local('Noto Sans KR-Black'),
    url('./files/noto-sans-kr-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-sans-kr-latin-900.woff') format('woff'); /* Modern Browsers */
}

