/* rhodium-libre-400normal - latin */
@font-face {
  font-family: 'Rhodium Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rhodium Libre Regular '),
    local('Rhodium Libre-Regular'),
    url('./files/rhodium-libre-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/rhodium-libre-latin-400.woff') format('woff'); /* Modern Browsers */
}

