/* nanum-gothic-coding-400normal - latin */
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nanum Gothic Coding Regular '),
    local('Nanum Gothic Coding-Regular'),
    url('./files/nanum-gothic-coding-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nanum-gothic-coding-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* nanum-gothic-coding-700normal - latin */
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Nanum Gothic Coding Bold '),
    local('Nanum Gothic Coding-Bold'),
    url('./files/nanum-gothic-coding-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nanum-gothic-coding-latin-700.woff') format('woff'); /* Modern Browsers */
}

