/* inika-400normal - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Inika Regular '),
    local('Inika-Regular'),
    url('./files/inika-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inika-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* inika-700normal - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Inika Bold '),
    local('Inika-Bold'),
    url('./files/inika-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/inika-latin-700.woff') format('woff'), /* Modern Browsers */
}

