/* quintessential-400normal - latin */
@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  src: url('./files/quintessential-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Quintessential Regular '),
    local('Quintessential-Regular'),
    url('./files/quintessential-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/quintessential-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/quintessential-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/quintessential-latin-400.svg#quintessential') format('svg'); /* Legacy iOS */
}

