/* suez-one-400normal - latin */
@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  src: url('./files/suez-one-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Suez One Regular '), local('Suez One-Regular'),
       url('./files/suez-one-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/suez-one-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/suez-one-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/suez-one-latin-400.svg#Suez One') format('svg'); /* Legacy iOS */
}
