/* sansita-400normal - latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sansita Regular '),
    local('Sansita-Regular'),
    url('./files/sansita-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* sansita-400italic - latin */
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sansita Regular italic'),
    local('Sansita-Regularitalic'),
    url('./files/sansita-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* sansita-700normal - latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sansita Bold '),
    local('Sansita-Bold'),
    url('./files/sansita-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* sansita-700italic - latin */
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sansita Bold italic'),
    local('Sansita-Bolditalic'),
    url('./files/sansita-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-700italic.woff') format('woff'), /* Modern Browsers */
}

/* sansita-800normal - latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sansita ExtraBold '),
    local('Sansita-ExtraBold'),
    url('./files/sansita-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-800.woff') format('woff'), /* Modern Browsers */
}

/* sansita-800italic - latin */
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sansita ExtraBold italic'),
    local('Sansita-ExtraBolditalic'),
    url('./files/sansita-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-800italic.woff') format('woff'), /* Modern Browsers */
}

/* sansita-900normal - latin */
@font-face {
  font-family: 'Sansita';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Sansita Black '),
    local('Sansita-Black'),
    url('./files/sansita-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-900.woff') format('woff'), /* Modern Browsers */
}

/* sansita-900italic - latin */
@font-face {
  font-family: 'Sansita';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Sansita Black italic'),
    local('Sansita-Blackitalic'),
    url('./files/sansita-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/sansita-latin-900italic.woff') format('woff'), /* Modern Browsers */
}

