/* mclaren-400normal - latin */
@font-face {
  font-family: 'McLaren';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('McLaren Regular '),
    local('McLaren-Regular'),
    url('./files/mclaren-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/mclaren-latin-400.woff') format('woff'), /* Modern Browsers */
}

