/* kantumruy-300normal - latin */
@font-face {
  font-family: 'Kantumruy';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Kantumruy Light '),
    local('Kantumruy-Light'),
    url('./files/kantumruy-khmer-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kantumruy-khmer-300.woff') format('woff'); /* Modern Browsers */
}

/* kantumruy-400normal - latin */
@font-face {
  font-family: 'Kantumruy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Kantumruy Regular '),
    local('Kantumruy-Regular'),
    url('./files/kantumruy-khmer-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kantumruy-khmer-400.woff') format('woff'); /* Modern Browsers */
}

/* kantumruy-700normal - latin */
@font-face {
  font-family: 'Kantumruy';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Kantumruy Bold '),
    local('Kantumruy-Bold'),
    url('./files/kantumruy-khmer-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/kantumruy-khmer-700.woff') format('woff'); /* Modern Browsers */
}

