/* libre-baskerville-400normal - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Baskerville Regular '),
    local('Libre Baskerville-Regular'),
    url('./files/libre-baskerville-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-baskerville-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* libre-baskerville-400italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Libre Baskerville Regular italic'),
    local('Libre Baskerville-Regularitalic'),
    url('./files/libre-baskerville-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-baskerville-latin-400italic.woff') format('woff'), /* Modern Browsers */
}

/* libre-baskerville-700normal - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Libre Baskerville Bold '),
    local('Libre Baskerville-Bold'),
    url('./files/libre-baskerville-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/libre-baskerville-latin-700.woff') format('woff'), /* Modern Browsers */
}

