/* gurajada-400normal - latin */
@font-face {
  font-family: 'Gurajada';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./files/gurajada-latin-400.eot'); /* IE9 Compat Modes */
  src:
    local('Gurajada Regular '),
    local('Gurajada-Regular'),
    url('./files/gurajada-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./files/gurajada-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/gurajada-latin-400.woff') format('woff'), /* Modern Browsers */
    url('./files/gurajada-latin-400.svg#Gurajada') format('svg'); /* Legacy iOS */
}

