/* tillana-400normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  src: url('./files/tillana-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Tillana Regular '), local('Tillana-Regular'),
       url('./files/tillana-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/tillana-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/tillana-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/tillana-latin-400.svg#Tillana') format('svg'); /* Legacy iOS */
}
/* tillana-600normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 600;
  src: url('./files/tillana-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Tillana SemiBold '), local('Tillana-SemiBold'),
       url('./files/tillana-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/tillana-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/tillana-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./files/tillana-latin-600.svg#Tillana') format('svg'); /* Legacy iOS */
}
/* tillana-500normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 500;
  src: url('./files/tillana-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Tillana Medium '), local('Tillana-Medium'),
       url('./files/tillana-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/tillana-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/tillana-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./files/tillana-latin-500.svg#Tillana') format('svg'); /* Legacy iOS */
}
/* tillana-700normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 700;
  src: url('./files/tillana-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Tillana Bold '), local('Tillana-Bold'),
       url('./files/tillana-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/tillana-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/tillana-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./files/tillana-latin-700.svg#Tillana') format('svg'); /* Legacy iOS */
}
/* tillana-800normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 800;
  src: url('./files/tillana-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Tillana ExtraBold '), local('Tillana-ExtraBold'),
       url('./files/tillana-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/tillana-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/tillana-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./files/tillana-latin-800.svg#Tillana') format('svg'); /* Legacy iOS */
}
