/* tillana-400normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tillana Regular '),
    local('Tillana-Regular'),
    url('./files/tillana-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tillana-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* tillana-500normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Tillana Medium '),
    local('Tillana-Medium'),
    url('./files/tillana-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tillana-latin-500.woff') format('woff'), /* Modern Browsers */
}

/* tillana-600normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Tillana SemiBold '),
    local('Tillana-SemiBold'),
    url('./files/tillana-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tillana-latin-600.woff') format('woff'), /* Modern Browsers */
}

/* tillana-700normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Tillana Bold '),
    local('Tillana-Bold'),
    url('./files/tillana-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tillana-latin-700.woff') format('woff'), /* Modern Browsers */
}

/* tillana-800normal - latin */
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Tillana ExtraBold '),
    local('Tillana-ExtraBold'),
    url('./files/tillana-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tillana-latin-800.woff') format('woff'), /* Modern Browsers */
}

