
/* satisfy-400normal - latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url('./files/satisfy-latin-400.eot'); /* IE9 Compat Modes */
  src: local('Satisfy Regular '), local('Satisfy-Regular'),
       url('./files/satisfy-latin-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./files/satisfy-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('./files/satisfy-latin-400.woff') format('woff'), /* Modern Browsers */
       url('./files/satisfy-latin-400.svg#Satisfy') format('svg'); /* Legacy iOS */
}
    