/* satisfy-400normal - latin */
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Satisfy Regular '),
    local('Satisfy-Regular'),
    url('./files/satisfy-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/satisfy-latin-400.woff') format('woff'); /* Modern Browsers */
}

