/* tangerine-400normal - latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Tangerine Regular '),
    local('Tangerine-Regular'),
    url('./files/tangerine-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tangerine-latin-400.woff') format('woff'), /* Modern Browsers */
}

/* tangerine-700normal - latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Tangerine Bold '),
    local('Tangerine-Bold'),
    url('./files/tangerine-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/tangerine-latin-700.woff') format('woff'), /* Modern Browsers */
}

