/* nova-cut-400normal - latin */
@font-face {
  font-family: 'Nova Cut';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Nova Cut Regular '),
    local('Nova Cut-Regular'),
    url('./files/nova-cut-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/nova-cut-latin-400.woff') format('woff'), /* Modern Browsers */
}

